<div class="row">
  <div class="col-sm-12">
    <h1><small>What do you want to do?</small></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="col-md-4">
      <div class="panel_alt">
        <div class="panel_alt_body">
          <p class="panel_alt_title">
            <span>
              <i class="li_news"></i> Activity Logs
            </span>
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In amet
          obcaecati sequi! Ipsum dolores adipisci inventore
          placeat…</p>

          <a class="btn btn-primary btn-sm" href="#/cce/index">View activity logs</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel_alt">
        <div class="panel_alt_body">
          <p class="panel_alt_title">
            <span>
              <i class="li_banknote"></i> Sales Orders
            </span>
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In amet
          obcaecati sequi! Ipsum dolores adipisci inventore
          placeat…</p>

          <a class="btn btn-primary btn-sm" href="#/orders/sales_order">View sales orders</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel_alt">
        <div class="panel_alt_body">
          <p class="panel_alt_title">
            <span>
              <i class="li_fire"></i> Temperature Logs
            </span>
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In amet
          obcaecati sequi! Ipsum dolores adipisci inventore
          placeat…</p>

          <a class="btn btn-primary btn-sm" href="#/cce/index">View temperature logs</a>
        </div>
      </div>
    </div>

  </div>
</div>
