<div class="row">
  <div class="col-sm-8">
    <tabset>

      <tab heading="Control Panel">
        <accordion close-others="true">

          <accordion-group>
            <accordion-heading>
              <i class="fa fa-chevron-down"></i> Incoming
            </accordion-heading>
            <ul>
              <li><a href="">Log an incoming order</a></li>
              <li><a href="">Place an order</a></li>
              <li><a href="">Modify an order</a></li>
              <li><a href="">Track pending orders</a></li>
              <li><a href="">Track incoming orders</a></li>
              <li><a href="">View received orders</a></li>
            </ul>
            </accordion-group>

          <accordion-group>
            <accordion-heading>
              <i class="fa fa-chevron-up"></i> Outgoing
            </accordion-heading>
            <ul>
              <li><a href="">Process an order</a></li>
              <li><a href="">Return a shipment</a></li>
              <li><a href="">Calculate routes</a></li>
              <li><a href="">Track pending shipments</a></li>
              <li><a href="">Track outgoing shipments</a></li>
              <li><a href="">View delivered shipments</a></li>
            </ul>
          </accordion-group>

          <accordion-group>
            <accordion-heading>
              <i class="fa fa-list"></i> Inventory
            </accordion-heading>
            <ul>
              <li><a href="">Manage inventory</a></li>
              <li><a href="">View forecasts</a></li>
              <li><a href="">Track performace</a></li>
              <li><a href="">View sub-facility inventories</a></li>
              <li><a href="">View sub-facility forecasts</a></li>
              <li><a href="">View sub-facility reports</a></li>
            </ul>
          </accordion-group>

          <accordion-group>
            <accordion-heading>
              <i class="fa fa-th-large"></i> Facilities
            </accordion-heading>
            <ul>
              <li><a href="">Manage CCE</a></li>
              <li><a href="">Manage fleet</a></li>
              <li><a href="">View sub-facility maps</a></li>
              <li><a href="">View sub-facility CCE status</a></li>
            </ul>
          </accordion-group>

          <accordion-group>
            <accordion-heading>
              <i class="fa fa-pencil"></i> Reports
            </accordion-heading>
            <ul>
              <li><a href="">Start daily stock count</a></li>
              <li><a href="">Generate supply plan</a></li>
              <li><a href="">Generate CCE report</a></li>
              <li><a href="">Generate fleet report</a></li>
              <li><a href="">Generate inventory report</a></li>
              <li><a href="">Start monthly report</a></li>
              <li><a href="">Start quarterly report</a></li>
              <li><a href="">Review complete reports</a></li>
            </ul>
          </accordion-group>

        </accordion>
      </tab>

      <tab heading="Dashboard">
      </tab>

    </tabset>
  </div>

  <div class="col-sm-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Alerts</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>BCG stock low</li>
          <li>Penta stock low</li>
          <li>YF stock low</li>
          <li>Freezer #4 error</li>
          <li>Quarterly report due</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Next Incoming</h3>
      </div>
      <div class="panel-body">
        <p>O# 44THX22 from national store</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Next outgoing</h3>
      </div>
      <div class="panel-body">
        <p>3 shipments scheduled</p>
      </div>
    </div>

  </div>
</div>
