<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dashboard</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href="#/main/products">
                            <div class="box_stat box_ico">
                                <span class="stat_ico stat_ico_1"><i class="li_vallet"></i></span>
                                <h4>Products</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="#/main/programs">
                            <div class="box_stat box_ico">
                                <span class="stat_ico stat_ico_2"><i class="li_user"></i></span>
                                <h4>Programs</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="box_stat box_ico">
                            <span class="stat_ico stat_ico_3"><i class="li_banknote"></i></span>
                            <h4>CCE</h4>
                            <small>Cold Cain Equipments</small>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="box_stat box_ico">
                            <span class="stat_ico stat_ico_4"><i class="li_truck"></i></span>
                            <h4>Transport</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>