<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Product Entry Form</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input class="form-control" type="text" name="name" id="productName"
                                       ng-model="productName">
                            </div>

                            <div class="form-group">
                                <label for="productCode">Product Code</label>
                                <input class="form-control" type="text" name="code" id="productCode"
                                       ng-model="productCode">
                            </div>

                            <div class="form-group">
                                <label for="productCategory">Product Category</label>
                                <select id="productCategory" class="form-control" ng-model="productCategory"
                                        ng-options="category.name for category in categories"></select>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>