<div class="row" ng-controller="ProductListCtrl">
    <div class="col-sm-12">
        <div class="btn-group">
            <a href="#/main/product_form" class="btn btn-default"><i class="icon-plus-sign"></i>Add Product</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div>
            <label>Search</label>
            <input  ng-model="query"/>
        </div>
         <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Products</h4>
            </div>
            <div class="">
                <table  class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Last Modified</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products | filter:query">
                            <td>{{ product.name }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.modified | date:'shortTime'}}</td>
                            <td>{{ product.active }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>