<div class="row">
   <ul class="breadcrumb">
        <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
        <li><a href="#/main/products">Product</a></li>
        <li class="active">Product Item</li>
   </ul>
</div>

<div class="row">
  <div class="btn-group col-sm-2">
    <a href="#/main/product_item_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Product Item</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div ng-include="'views/partials/search.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <span class="marker-indicator-space">Product Expiration Status</span>
    <i class="fa fa-check-circle red-icon marker-indicator-space"> Expired Product</i>
    <i class="fa fa-times-circle warning-alert marker-indicator-space"> Expires Soon</i>
  </div>
</div>

<div class="row" ng-controller="ProductItemListCtrl">
    <div class="col-sm-18">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-list"></i> Product Items
                </h3>
            </div>

            <div class="scrollable-container">
                <table  ng-table="productItemList" class="table table-condensed table-hover table-bordered oversize-table">
                        <tr  ng-repeat="productItem in $data | filter:search"
                            class="{{ highlightExpiredProductItem(productItem.expiration_date) }} center-text">
                            <td data-title="'#'">{{ $index + 1 }}</td>
                            <td data-title="'Batch No'" sortable="'batch_no'">{{ productItem.batch_no }}</td>
                            <td data-title="'Product Name'">{{ products[productItem.product].name }}</td>
                            <td data-title="'Expiration Date'" sortable="'expiration_date'">
                              {{ productItem.expiration_date | date:'dd-MM-yyyy' }}
                            </td>
                            <td data-title="'Manufacturer'">{{ companies[productItem.manufacturer].name }}</td>
                            <td data-title="'Presentation'">{{ presentations[productItem.presentation].name }}</td>
                            <td data-title="'Formulation'">{{ productFormulation[productItem.formulation].name }}</td>
                            <td data-title="'Mode Of Administration'">{{ modesOfAdmin[productItem.mode_of_use].name }}</td>
                            <td data-title="'Packed Volume'" sortable="'packed_volume'">
                              {{ productItem.packed_volume +' '+ uomList[productItem.volume_uom].symbol }}
                            </td>
                            <td data-title="'Diluent Packed per Volume'" sortable="'diluent_per_volume'">
                              {{ productItem.diluent_per_volume +' '+ uomList[productItem.volume_uom].symbol }}
                            </td>
                            <td data-title="'Price per Unit'" sortable="'price_per_unit'">
                              {{ currencies[productItem.price_currency].symbol +' '+ productItem.price_per_unit }}
                            </td>
                            <td data-title="'Description'">{{ productItem.description }}</td>
                            <td data-title="'Fund Source'">{{ companies[productItem.fund_sources].name }}</td>
                            <td data-title="'Active'" sortable="'active'">
                              <span ng-show="productItem.active"><i class="fa fa-check-circle green-icon"></i></span>
                              <span ng-hide="productItem.active"><i class="fa fa-times-circle red-icon"></i></span>
                            </td>
                        </tr>
                </table>
            </div>

        </div>
    </div>
</div>
