<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <a href="#/main/product_item_form" class="btn btn-default"><i class="icon-plus-sign"></i>Add Product Item</a>
        </div>
    </div>
</div>
<div class="row" ng-controller="ProductItemListCtrl">
    <div class="col-sm-12">
        <div>
            <input  ng-model="query" id="query" class="form_control"/>
            <span class="glyphicon glyphicon-search"></span>
        </div>
         <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Product Items</h3>
            </div>

            <div class="scrollable-container">
                <table  class="table table-condensed table-bordered table-hover oversize-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Batch No</th>
                            <th>Product Name</th>
                            <th>Expiration Date</th>
                            <th>Manufacturer</th>
                            <th>Presentation</th>
                            <th>Formulation</th>
                            <th>Mode of Use</th>
                            <th>Packed Volume</th>
                            <th>Diluent Packed per Vol.</th>
                            <th>Price per Unit</th>
                            <th>Description</th>
                            <th>Fund Source</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="productItem in productItemList | filter:query"
                            class="{{ highlightExpiredProductItem(productItem.expiration_date) }}">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ productItem.batch_no }} </td>
                            <td>{{ productItem.product }}</td>
                            <td>{{ productItem.expiration_date | date:'dd-MM-yyyy' }}</td>
                            <td>{{ productItem.manufacturer }}</td>
                            <td>{{ productItem.presentation }}</td>
                            <td>{{ productItem.formulation }}</td>
                            <td>{{ productItem.mode_of_use }}</td>
                            <td>{{ productItem.packed_volume +' '+ productItem.volume_uom }}</td>
                            <td>{{ productItem.diluent_per_volume +' '+ productItem.volume_uom}}</td>
                            <td>{{ productItem.price_currency +' '+ productItem.price_per_unit }} </td>
                            <td>{{ productItem.description }}</td>
                            <td>{{ productItem.fund_sources}}</td>
                            <td>{{ productItem.active }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>