<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
            </div>

            <table id="vm1-table" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Manufacturer</th>
                        <th>Batch No</th>
                        <th>Bar Code</th>
                        <th>G Tin</th>
                        <th>Price/Unit</th>
                        <th>Currency</th>
                        <th>Expiration Date</th>
                        <th>Mode of Use</th>
                        <th>Formulation</th>
                        <th>Description</th>
                        <th>Weight/Unit</th>
                        <th>weight uom</th>
                        <th>Volume/Unit</th>
                        <th>Volume uom</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.manufacturer }}</td>
                        <td>{{ product.batch_no }}</td>
                        <td>{{ product.bar_code }}</td>
                        <td>{{ product.gtin }}</td>
                        <td>{{ product.price_per_unit }}</td>
                        <td>{{ product.price_currency }}</td>
                        <td>{{ product.expiration_date }}</td>
                        <td>{{ product.mode_of_use }}</td>
                        <td>{{ product.formulation }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.weight_per_unit }}</td>
                        <td>{{ product.weight_uom }}</td>
                        <td>{{ product.volume_per_unit }}</td>
                        <td>{{ product.volume_uom }}</td>
                        <td>{{ product.active }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>