<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Product Entry Form</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="product_name"></label>
                                <input class="form-control" type="text" name="name" id="product_name" ng-model="product.name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>