<div class="row" ng-controller="AddProductItemCtrl">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Add Product Item</h4>
            </div>

            <div class="panel-body">

                <!-- used to show form submission error or success message -->
                <div id="messages" ng-show="message">{{ message }}</div>
                <br/>

                <form ng-submit="saveProductItem()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="batchNo">Batch No</label>
                                <input class="form-control" type="text" name="batchNo" id="batchNo"
                                       ng-model="productItem.batch_no" placeholder="e.g XD456-YU, 1234567">
                                <span ng-show="errorName">{{ errorName }}</span>
                            </div>

                            <div class="form-group">
                                <label for="product">Product</label>
                                <select id="product" class="form-control" ng-model="productItem.product">
                                    <option value="">-- select product --</option>
                                    <option ng-repeat="product in products" value="{{ product.uuid }}">
                                        {{ product.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="presentation">Presentation</label>
                                <select id="presentation" class="form-control" ng-model="productItem.presentation">
                                    <option value="">-- select product item presentation --</option>
                                    <option ng-repeat="presentation in presentations" value="{{ presentation.uuid }}">
                                        {{ presentation.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="manufacturer">Manufacturer</label>
                                <select id="manufacturer" class="form-control" ng-model="productItem.manufacturer">
                                    <option value="">-- select manufacturer --</option>
                                    <option ng-repeat="company in companies" value="{{company.uuid}}">
                                        {{company.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="pricePerUnit">Price Per Unit</label>
                                <input class="form-control" type="text" name="code" id="pricePerUnit"
                                       ng-model="productItem.price_per_unit">

                                <select id="currency" class="form-control" ng-model="productItem.currency">
                                    <option value="">-- select price currency --</option>
                                    <option ng-repeat="currency in currencies" value="{{currency.uuid}}">
                                        {{currency.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="expirationDate">Expiration Date</label>
                                <p class="input-group">
                                    <input id="expirationDate" type="text" class="form-control"
                                           datepicker-popup="{{format}}" ng-model="productItem.expiration_date"
                                           is-open="opened" min="minDate" max="{{ maxDate }}"
                                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                           ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="modeOfAdministration">Mode of Administration</label>
                                <select id="modeOfAdministration" class="form-control" ng-model="productItem.mode_of_use ">
                                    <option value="">-- select mode of administration --</option>
                                    <option ng-repeat="mode in modes" value="{{ mode.uuid }}">
                                        {{ mode.name }}
                                    </option>
                                </select>
                            </div>



                            <div class="form-group">
                                <label for="productDesc">Product Descrption</label>
                                <input class="form-control" type="text" name="code" id="productDesc"
                                       ng-model="product.description"
                                       placeholder="A vaccine against tuberculosis, prepared from a strain of the attenuated live Mycobacterium bovis">
                            </div>


                             <div class="form-group">
                                <label for="active">Is Active:
                                    <input type="checkbox" ng-model="product.active" id="active">
                                </label>

                             </div>

                            <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>

                            <pre>
		                        {{ productItem }}
	                        </pre>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>