<div class="row">
  <ul class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/main/products">Product</a></li>
    <li class="active">Product Profile</li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="btn-group col-sm-2">
      <a href="#/main/product_profile_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Product
        Profile</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div ng-include="'views/partials/search.html'"></div>
  </div>
</div>

<div class="row" ng-controller="ProductProfileListCtrl">
  <div class="col-sm-18">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-list"></i> Product Profile
        </h3>
      </div>

      <div class="scrollable-container">
        <table ng-table="productProfiles" class="table table-condensed table-hover table-bordered oversize-table">
          <tr ng-repeat="productProfile in $data | filter:search" ng-class="'center-text'">
            <td data-title="'#'">{{ $index + 1 }}</td>
            <td data-title="'Product Profile Name'" sortable="'name'">
              {{ productProfile.name }}
            </td>
            <td data-title="'Product'">{{ products[productProfile.product].name }}</td>
            <td data-title="'Presentation'">
              {{ presentations[productProfile.presentation].name }}
            </td>
            <td data-title="'Formulation'" sortable="'formulation'">
              {{ formulations[productProfile.formulation].name }}
            </td>
            <td data-title="'Mode of Use'">{{ modes[productProfile.mode_of_use].name }}</td>
            <td data-title="'Packed Volume'" sortable="'packed_volume'">
              {{ productProfile.packed_volume+' '+ uomList[productProfile.volume_uom].symbol }}
            </td>
            <td data-title="'Diluent per Volume'" sortable="'diluent_per_volume'">
              {{ productProfile.diluent_per_volume +' '+ uomList[productProfile.volume_uom].symbol }}
            </td>
            <td data-title="'Description'" sortable="'description'">
              {{ productProfile.description }}
            </td>
            <td data-title="'Created'" sortable="'created'">
              {{ productProfile.created | date:'yyyy-MM-dd h:mma' }}
            </td>
            <td data-title="'Last Modified'" sortable="'modified'">
              {{ productProfile.modified | date:'yyyy-MM-dd h:mma' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
