<div class="row">
   <ol class="breadcrumb">
        <li><a href="#/main/"><i class="icon-home"> Home</i></a></li>
        <li class="active">Product</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a href="#/main/product_items">
            <div class="box_stat box_ico">
                <span class="stat_ico stat_ico_1"><i class="glyphicon glyphicon-list"></i></span>
                <h4>Product Item</h4>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-6">
        <a href="#/main/programs">
            <div class="box_stat box_ico">
                <span class="stat_ico stat_ico_2"><i class="li_user"></i></span>
                <h4>Unit Of Measurements</h4>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <a href="#/main/product_form" class="btn btn-default"><i class="icon-plus-sign"></i> Add Product</a>
        </div>
    </div>
</div>

<div class="row" ng-controller="ProductListCtrl">
    <div class="col-sm-12">
        <div>
            <input  ng-model="query" id="query" size="55" class="input-medium search-query"/>
            <span class="glyphicon glyphicon-search"></span>
        </div>
         <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-list"></i>  Products</h4>
            </div>
            <div class="">
                <table  class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Base UOM</th>
                            <th>Description</th>
                            <th>Last Modified</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products | filter:query">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product_categories[product.category].name  }}</td>
                            <td>{{ uomList[product.base_uom].name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.modified | date:'yyyy-MM-dd h:mma'}}</td>
                            <td class="text-center">
                                <span ng-show="product.active"><i class="icon-ok-sign green-glyphicon"></i></span>
                                <span ng-hide="product.active"><i class="icon-remove-sign red-glyphicon"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
