<div class="row">
   <ol class="breadcrumb">
        <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
        <li><a href="#/main/programs">Program</a></li>
        <li class="active">Add Program</li>
    </ol>
</div>
<div class="row" ng-controller="programFormCtrl">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"></h4>
            </div>
            <div class="panel-body">
                <form ng-submit="saveProgram()">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input id="name" type="text" name="name" class="form-control" ng-model="program.name">
                            </div>
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" name="code" class="form-control" ng-model="program.code">
                            </div>
                            <div class="form-group">
                                <label>Parent Program</label>
                                <select class="form-control" ng-model="program.parent">
                                    <option value="">-- select parent program</option>
                                    <option ng-repeat="row in programList" value="{{ row.uuid }}">{{ row.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="checkbox" name="active" ng-model="program.active">
                            </div>
                             <div class="form-group">
                                <input type="submit" class="form-control" value="save">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
