<div class="panel panel-default" ng-show="showHelp">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <span ng-click="showHelp=!showHelp">
            <i class="text-danger fa fa-times fa-2x"></i>
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="info-box">
              <div class="info-box-number one">1</div>
              <div class="info-box-text">
                Count the number of items
                for each product. Enter numbers
                directly or with - + buttons.
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="info-box">
              <div class="info-box-number two">2</div>
              <div class="info-box-text">
                Press Next to move to the
                next product.
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="info-box">
              <div class="info-box-number three">3</div>
              <div class="info-box-text">
                When finished, press the
                Save button.
              </div>
              <div class="clearfix"></div>
            </div>

          </div>
          <div class="col-sm-3">
            <div class="info-box">
              <div class="info-box-number four">4</div>
              <div class="info-box-text">
                Check the totals. If you
                need to make modifications
                press on the row to edit.
                When finished press Confirm.
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-class="getCategoryColor(((facilityProducts[productKey]).category).name)">
  <div class="panel-heading">
    <h1 class="panel-title">
      <div class="pull-left">
        Stock Count for - {{ dateInfo  | date:'dd MMMM, yyyy' }}
        <div class="small-font" ng-hide="preview">{{ ((facilityProducts[productKey]).category).name}}</div>
      </div>
      <div class="pull-right">
        <span ng-click="showHelp=!showHelp">
          <i class="text-success fa fa-question-circle fa-2x"></i>
        </span>
      </div>
      <div class="clearfix"></div>
    </h1>

  </div>

  <div class="panel-body">
    <div>
      <div class="col-sm-12">
        <form>
          <div class="row">
            <div class="col-sm-12" ng-hide="preview">

              <div class="row">
                <div class="col-sm-12">
                  <h3 class="center-text">{{ facilityProducts[productKey].name }}</h3>
                  <h3 class="center-text bold-text" ng-show="countValue[productKey] === undefined">
                    {{ (((productProfileUom).presentation).uom).symbol }}s
                  </h3>
                  <h3 class="center-text bold-text" ng-show="countValue[productKey] >= 0">
                    <ng-pluralize count="countValue[productKey]"
                                  when="
                      {
                      '1': '{{ (((productProfileUom).presentation).uom).symbol }}',
                      'other': '{{ (((productProfileUom).presentation).uom).symbol }}s'}">
                    </ng-pluralize>:
                  </h3>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">

                      <!-- start form counter input -->
                      <div class="col-xs-12">
                        <div>
                          <counter bind="countValue[productKey]"></counter>
                          <div ng-show="productError" class="custom-error text-center">{{ productErrorMsg }}</div>

                          <!-- conversion view starts here -->
                          <div class="no-bold text-center" ng-hide="countValue[productKey] === undefined">
                            <h3>
                              <span>{{ countValue[productKey] * ((productProfileUom).presentation).value }}</span>
                              <span>
                                <ng-pluralize count="countValue[productKey] * ((productProfileUom).presentation).value"
                                    when="{
                                            '1': '{{ (((productProfileUom).product).base_uom).symbol }}',
                                            'other': '{{ (((productProfileUom).product).base_uom).symbol }}s'
                                          }">
                                </ng-pluralize>
                              </span>
                            </h3>
                        </div>
                        </div>
                      </div>

                      <!-- this button is shown only in mobile mode -->
                      <div class="col-xs-12">
                        <div class="btn-separator" ng-hide="step === maxStep">
                          <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                              <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default"
                                      ng-click="changeState(0)">
                                <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                              </button>
                            </div>
                            <div class="btn-group">
                              <button type="button" ng-hide="step === maxStep"
                                      class="btn btn-lg btn-success col-sm-12 col-xs-12"
                                      ng-click="changeState(1)">
                                Next <i class="fa fa-chevron-circle-right fa-lg"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12">
                        <div class="btn-separator" ng-show="step === maxStep">
                          <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                              <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default"
                                      ng-click="changeState(0)">
                                <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                              </button>
                            </div>
                            <div class="btn-group">
                              <button type="button"
                                      class="btn btn-lg btn-success"
                                      ng-click="changeState(2)">
                                Save <i class="fa fa-save fa-lg"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="editOn && step !== maxStep && stockCount.isComplete">
                  <div class="col-sm-6 data-row">
                    <div class="btn-separator">
                      <button type="button" class="btn btn-lg btn-warning col-sm-12 col-xs-12"
                              ng-click="changeState(2)">
                        Save <i class="fa fa-save fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-show="preview">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th i18n="stockItem"></th>
                          <th i18n="count"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="productProfile in selectedProductProfiles" ng-click="edit(productProfile.uuid)">
                          <td ng-bind="productProfile.name"></td>
                          <td>
                            <span ng-bind="stockCount.unopened[productProfile.uuid]"></span>
              <span>
                <ng-pluralize count="stockCount.unopened[productProfile.uuid]"
                              when="
                      {
                      '1': '{{ (((productProfile).product).base_uom).symbol }}',
                      'other': '{{ (((productProfile).product).base_uom).symbol }}s'}">
                </ng-pluralize>
              </span>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="!editOff">
                  <div class="col-xs-12">
                    <div class="btn-separator">
                      <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                          <button type="button" class="btn btn-lg btn-default" ng-click="preview=!preview">
                            <i class="fa fa-chevron-circle-left"></i> Back
                          </button>
                        </div>
                        <div class="btn-group">
                          <button ng-click="finalSave()" class="btn btn-success btn-lg" ng-disabled="isSaving">
                            <span i18n="confirm" ng-show="!isSaving"></span>
                            <span ng-show="isSaving">Saving</span>
                            <span><i class="fa " ng-class="{'fa-save':!isSaving, 'fa-spinner fa-spin': isSaving}"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" ng-show="editOff">
                  <div class="col-xs-12">
                    <div class="btn-separator-xs text-center">
                      <a ui-sref="stockCountHome" ng-show="detailView" class="btn btn-default">
                        <i class="fa fa-list"></i> Back to list
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
