<div ng-show="showChart">
  <div ng-include="'views/dashboard/partials/stock-out-warning.html'"></div>
  <div class="panel panel-default">
    <div class="container-fluid">
      <div class="row">

        <div class="center-text" ng-hide="productTypesChart">
          <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="product-chart">
          <nvd3-multi-bar-horizontal-chart
            data="productTypesChart"
            id="product-types-chart"
            height="200"
            tooltips="true"
            showXAxis="true"
            showYAxis="true"
            stacked="true"
          >
          </nvd3-multi-bar-horizontal-chart>
        </div>

      </div>
    </div>
  </div>
</div>
