<form name="surveyForm" ng-submit="surveyForm.$valid" novalidate>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" ng-bind="survey.name"></h4>
      </div>

      <div class="list-group">
        <div class="list-group-item" ng-repeat="question in survey.questions track by $index">
          <div class="col-md-12">
            <span ng-bind="question.text"></span>
          </div>
          <div class="col-md-12 pull-right">
            <label class="input-control">
              <input ng-model="surveyResponse[question.uuid]" type="radio" name="{{ question.uuid }}" ng-value="true"
                     ng-change="newValue(question.uuid, true)"/>
              <span i18n="yes"></span>
            </label>
            <label class="input-control">
              <input ng-model="surveyResponse[question.uuid]" type="radio" name="{{ question.uuid }}" ng-value="false"
                     ng-change='newValue(question.uuid, false)'>
              <span i18n="no"></span>
            </label>
          </div>
          <div class="panel-body"></div>
        </div>
      </div>

      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" ga-click="survey_submit" class="btn btn-default btn-lg btn-left" ng-click="clear()" ng-disabled="isSaving">
              <span i18n="clear"></span>
              <span><i class="fa fa-refresh"></i></span>
            </button>
          </div>
          <div class="btn-group">
            <button type="submit" ga-click="survey_save" class="btn btn-success btn-lg btn-right" ng-click="save()" ng-disabled="isSaving">
              <span ng-show="!isSaving" i18n="save"></span>
              <span ng-show="!isSaving"><i class="fa fa-floppy-o"></i></i></span>
              <span ng-show="isSaving" i18n="saving"></span>
              <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

