<div class="panel-heading">
  <h4 class="panel-title">{{ $index + 1 }}</h4>
</div>
<div class="panel-body">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <label i18n="productTypes"></label>
      <input class="form-control" ng-disabled="true" type="text" name="productType" id="productType"
             ng-model="getProductType(bundleLine).code"/>
    </div>

    <div class="col-sm-4">
      <label i18n="batchNo"></label>
      <input class="form-control" ng-disabled="true" type="text" name="batchNo" id="batchNo"
             ng-model="(bundleLine.batch).batch_no"/>
    </div>

    <div class="col-sm-4">
      <label i18n="program"></label>
      <input class="form-control" ng-disabled="true" type="text" name="program" id="program"
             ng-model="(bundleLine.program).code"/>
    </div>

  </div>
</div>

<div class="panel-body">
  <div class="col-sm-12">

    <div class="col-sm-4">
      <label i18n="quantity"></label>
      <input class="form-control" ng-disabled="true" type="text" name="program" id="quantity"
             value="{{ getQuantityDetail(bundleLine.quantity, bundleLine.quantity_uom) }}"/>
    </div>

    <div class="col-sm-4">
      <label>Verify Quantity</label>
      <counter bind="logIncomingForm.verify[bundleLine.uuid]"></counter>
    </div>

    <div class="col-sm-4">
      <label i18n="storageUnit"></label>
      <select class="form-control" ng-model="logIncomingForm.storage_units[bundleLine.uuid]">
        <option value="" i18n="addToStorageUnit"></option>
        <option ng-repeat="storageUnit in receivingFacilityStorageUnits"
                value="{{ storageUnit.uuid }}"
                ng-selected="{{ (logIncomingForm.storage_units[bundleLine.uuid]).uuid === storageUnit.uuid }}"
                ng-bind="storageUnit.name ">
        </option>
      </select>
    </div>
  </div>
</div>