<div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">Product {{ $index + 1 }}</h4>
    <div class="pull-right">
        <a class="btn btn-info btn-sm"><i class="fa fa-plus"></i> add product</a>
        <a class="btn btn-warning btn-sm" ng-show="$index > 0">
            <i ng-click="removeLine(bundleLine)" class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="col-sm-12">
    <label>Product profile</label></label><span class="error text-danger" ng-show="bundleLineForm.pp$index.$error.required">*</span><br>
    <select class="form-control" ga-click="product_profile" ng-model="bundleLine.productProfile"
            ng-change="getUnitQty(bundleLine)" ng-required="true" name="pp$index">
        <option value="">- Select product profile -</option>
        <option ng-repeat="pp in productProfiles" value="{{ pp.uuid }}">{{ pp.name }}</option>
    </select>
</div>
<br/>
<div class="col-sm-12">
    <label i18n="batchNo"></label><span class="error text-danger" ng-show="bundleLineForm.batchNo$index.$error.required">*</span>
    <input class="form-control"
           type="text"
           name="batchNo$index"
           ng-model="bundleLine.batchNo"
           typeahead="bNo for bNo in batchNos | filter:$viewValue | limitTo:10"
           ng-blur="updateBatchInfo(bundleLine)"
           ng-required="true"/>
</div>
<br/>
<div class="col-sm-12" ng-class="">
    <label>Expiry date <i class="fa fa-calendar"></i></label></label><span class="error text-danger" ng-show="bundleLineForm.expiryDate$index.$error.required">*</span><br>
    <input ng-model="bundleLine.expiryDate" class="form-control" type="date" name="expiryDate$index" required />
    <em><small><span  class="text-danger small" ng-show="expiredProductAlert(bundleLineForm.expiryDate$index.$modelValue)">
        <i class="fa fa-exclamation-circle"></i>
        This product is expired
    </span></small></em>
</div>
<br/>
<div class="col-sm-12" align="center">
    <p><span class="fa fa-2x">{{selectedProductName[bundleLine.id]}}</span></p>
    <label>Verify Quantity : {{selectedProductUOMName[bundleLine.id]}}</label>
    <counter bind="bundleLine.count"
             onchange="updateUnitQty(selectedProductUOMVal[bundleLine.id],  bundleLine.count, bundleLine)"
             required name="counter$index"></counter>

         <span class="fa fa-1.5x text-center"><ng-pluralize
                 count="bundleLine.quantity"
                 when="{
                        '0' : '{{bundleLine.quantity}} {{selectedProductBaseUOM[bundleLine.id]}}s',
                        '1' :'{{bundleLine.quantity}} {{selectedProductBaseUOM[bundleLine.id]}}',
                        'other':'{{bundleLine.quantity}} {{selectedProductBaseUOM[bundleLine.id]}}s'
                        }">
         </ng-pluralize>
             </span>
</div>
<br/>
<div ng-show="goodTogo(bundlineForm,'batchNo')">Please enter valid batch number!</div>
