<div class="panel-heading">
  <h4 class="panel-title">{{ $index + 1 }}</h4>
</div>
<div class="panel-body">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <label translate="productTypes"></label>
      <input class="form-control" ng-disabled="true" type="text" name="productType" id="productType"
             ng-model="getProductType(bundleLine).code"/>
    </div>

    <div class="col-sm-4">
      <label translate="batchNo"></label>
      <input class="form-control" ng-disabled="true" type="text" name="batchNo" id="batchNo"
             ng-model="(bundleLine.batch).batch_no"/>
    </div>

    <div class="col-sm-4">
      <label translate="program"></label>
      <input class="form-control" ng-disabled="true" type="text" name="program" id="program"
             ng-model="(bundleLine.program).code"/>
    </div>

  </div>
</div>

<div class="panel-body">
  <div class="col-sm-12">

    <div class="col-sm-4">
      <label translate="quantity"></label>
      <input class="form-control" ng-disabled="true" type="text" name="program" id="quantity"
             value="{{ getUOMDetail(bundleLine) }}"/>
    </div>

    <div class="col-sm-4">
      <label>Verify Quantity</label>

      <div class="input-group">
                        <span class="input-group-btn">
                          <button class="btn btn-warning" type="button"
                                  ng-click="logIncomingForm.verify[bundleLine.uuid] =subtract(logIncomingForm.verify[bundleLine.uuid])">
                            <i class="fa fa-minus"></i>
                          </button>
                      </span>
        <input type="text" class="form-control" ng-model="logIncomingForm.verify[bundleLine.uuid]" required>
                        <span class="input-group-btn">
                        <button class="btn btn-info" type="button"
                                ng-click="logIncomingForm.verify[bundleLine.uuid] = add(logIncomingForm.verify[bundleLine.uuid])">
                          <i class="fa fa-plus"></i>
                        </button>
                        </span>
      </div>
    </div>

    <div class="col-sm-4">
      <label translate="storageUnit"></label>
      <select class="form-control" ng-model="logIncomingForm.storage_units[bundleLine.uuid]">
        <option value="" translate="addToStorageUnit"></option>
        <option ng-repeat="storageUnit in receivingFacilityStorageUnits"
                value="{{ storageUnit.uuid }}"
                ng-selected="{{ (logIncomingForm.storage_units[bundleLine.uuid]).uuid === storageUnit.uuid }}"
                ng-bind="storageUnit.name ">
        </option>
      </select>
    </div>
  </div>
</div>