<div class="col-sm-6">
  <label for="bundleNo" translate="bundleNo"></label>

  <div class="input-group">
    <input class="form-control" typeahead="bundleNo for bundleNo in bundleNumbers | filter:$viewValue | limitTo:8"
           type="text" name="bundleNo" id="bundleNo" ng-model="$parent.showBundleNo"
           placeholder="scan or type bundle number" required/>
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" ng-click="showBundle()" translate="showBundle"></button>
        </span>
  </div>
</div>

<div class="col-sm-6" ng-show="showAddManually">
  <br/>
  <a ui-sref="addNewInventory" class="btn btn-success">
    <span><i class="fa fa-plus"></i></span>
    <span translate="addNewInventory"></span>
  </a>
</div>
