<div class="col-sm-12" ng-show="!show && clicked">
  <br/>

  <div class="alert alert-danger">
    <span translate="bundleNotFound" translate-value-id="{{$parent.showBundleNo}}"></span>
  </div>
</div>

<div class="col-sm-6">
  <form ng-submit="showBundle()">
    <div class="row">
      <div class="col-sm-6 pull-left">
        <label for="bundleNo" translate="bundleNo"></label>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control"
             typeahead="bundleNo for bundleNo in bundleNumbersAutoCompleteList | filter:$viewValue | limitTo:8"
             type="text" name="bundleNo" id="bundleNo" ng-model="$parent.showBundleNo"
             placeholder="scan or type bundle number" required/>
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit" translate="showBundle"></button>
      </span>
    </div>
  </form>
</div>


<div class="col-sm-6" ng-show="showAddManually">
  <div class="row">
    <div class="col-sm-6 pull-left">
      <span class="label"></span>
      <label for="bundleNo">&nbsp;</label>
    </div>
  </div>
  <a ui-sref="addNewInventory" class="btn btn-success">
    <span><i class="fa fa-plus"></i></span>
    <span translate="addNewInventory"></span>
  </a>
</div>




















