<div class="panel-body">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Bundle Detail</h4>
      </div>

      <form name="logIncomingBundle" ng-submit="save()">
        <div class="panel-body">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <label for="receivingFacility" translate="receivingFacility"></label>
              <input class="form-control" ng-disabled="true" type="text" name="receivingFacility"
                     id="receivingFacility" ng-model="(bundle.receiving_facility).name"/>
            </div>

            <div class="col-sm-6">
              <label for="parentFacility" translate="sendingFacility"></label>
              <input class="form-control" ng-disabled="true" type="text" name="parentFacility" id="parentFacility"
                     ng-model="(bundle.parent).name"/>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <label for="bundleNumber" translate="bundleNo"></label>
              <input ng-model="bundle.uuid" class="form-control" ng-disabled="true" type="text"
                     name="bundleNumber" id="bundleNumber"/>
            </div>

            <div class="col-sm-6">
              <label>Date <i class="fa fa-calendar"></i></label>
              <input ng-model="bundle.date" class="form-control" type="date" name="receiptDate"
                     id="receiptDate" required=""/>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="col-sm-12">
            <div class="col-sm-12" ng-repeat="bundleLine in bundle.bundle_lines">
              <div class="panel panel-default" ng-include="'views/bundles/partials/bundle-lines.html'"></div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-4 pull-left">
              <div class="btn-group col-sm-3">
            <span ng-click="hideBundle()" class="btn btn-default">
              <i class="fa fa-chevron-circle-left"></i>Back</span>
              </div>
            </div>
            <div class="col-md-4 pull-right">
              <button ng-click="previewLogBundleForm()" type="button" id="preview" name="preview"
                      class="btn btn-success">
                <span translate="preview"></span>
                <i class="fa fa-eye"></i>
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
</div>