<div class="col-sm-3">
  <div class="info-box">
    <div ng-class="{'info-box-number' : true,
      'sequence-map-box' : currentStep !== LOG_STEPS.ENTER_BUNDLE_NO, 'alert-info' : currentStep === LOG_STEPS.ENTER_BUNDLE_NO }">1</div>
    <div class="info-box-text">Enter bundle no and click on show bundle.</div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-sm-3">
  <div class="info-box">
    <div ng-class="{'info-box-number' : true,
      'sequence-map-box' : currentStep !== LOG_STEPS.BUNDLE_NOT_FOUND, 'alert-info' : currentStep === LOG_STEPS.BUNDLE_NOT_FOUND }">2</div>
    <div class="info-box-text">
      If bundle exists, start step 3, else use "Add New Inventory"
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-sm-3">
  <div class="info-box">
    <div ng-class="{'info-box-number' : true,
      'sequence-map-box' : currentStep !== LOG_STEPS.VERIFY, 'alert-info' : currentStep === LOG_STEPS.VERIFY }">3</div>
    <div class="info-box-text">Verify quantity of each bundle item received and save.</div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="col-sm-3">
  <div class="info-box">
    <div ng-class="{'info-box-number' : true,
      'sequence-map-box' : currentStep !== LOG_STEPS.CONFIRM, 'alert-info' : currentStep === LOG_STEPS.CONFIRM }">4</div>
    <div class="info-box-text">Preview and confirm.</div>
    <div class="clearfix"></div>
  </div>
</div>
