.center-text{
    text-align: center;
}
#vm1-table thead tr th{
    font-size: 10px;
}
#sm-header-text{
    font-size: 10px;
}
#max-stock, #min-stock, .top-rows{
    font-size: 8px;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}

.oversize-table{
   width: 2000px
}

.expired-product-item{
    /* background-color: #FF9494; */
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    font-weight: bold;
}
.about-to-expire{
    background-color: #FFD300;
}
.green-glyphicon{
    background-color: #FFFFFF;
    color: green;
}
.red-glyphicon{
    background-color: #FFFFFF;
    color: #C00;
}