.center-text{
    text-align: center;
}
#vm1-table thead tr th{
    font-size: 10px;
}
#sm-header-text{
    font-size: 10px;
}
#max-stock, #min-stock, .top-rows{
    font-size: 8px;
}
.scrollable_x{
    width: 2000px;
    overflow-x: scroll;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}

.oversize-table{
   width: 2000px
}

.expired-product-item{
    background-color: #FF9494;
}
.about-to-expire{
    background-color: #FFD300;
}
