.center-text{
    text-align: center;
}
#vm1-table thead tr th{
    font-size: 10px;
}
#sm-header-text{
    font-size: 10px;
}
#max-stock, #min-stock, .top-rows{
    font-size: 8px;
}
.scrollable_x{
    width: 2000px;
    overflow-x: scroll;
}
.product_items_container{
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}
