.center-text{
    text-align: center;
}
#vm1-table thead tr th{
    font-size: 10px;
}
#sm-header-text{
    font-size: 10px;
}
#max-stock, #min-stock, .top-rows{
    font-size: 8px;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}

.oversize-table{
   width: 2000px;
}

.danger-alert{
    color: #B94A48;
    background-color: #F3DEDE;
    border-color: #F2DEDE;
    font-weight: bold;
}
.danger-alert:hover{
    color: #B94A48;
    background-color: #F3DEDE;
    border-color: #F2DEDE;
    font-weight: bold;
}
.warning-alert{
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #EED3D7;
    font-weight: bold;
}
.about-to-expire{
    background-color: #FFD300;
}
.green-icon{
    background-color: #FFFFFF;
    color: green;
}
.red-icon{
    background-color: #FFFFFF;
    color: #C00;
    color: red;
}
.marker-indicator-space{
  margin-right: 2em;
}
