.center-text{
    text-align: center;
}
.inline-label{
    display: inline;
}
#vm1-table thead tr th{
    font-size: 11px;
}
#sm-header-text{
    font-size: 11px;
}
#max-stock, #min-stock, .top-rows{
    font-size: 11px;
}

.scrollable-container{
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}

.oversize-table{
   width: 2000px;
}

.danger-alert{
    color: #B94A48;
    background-color: #F3DEDE;
    border-color: #F2DEDE;
    font-weight: bold;
}
.danger-alert:hover{
    color: #B94A48;
    background-color: #F3DEDE;
    border-color: #F2DEDE;
    font-weight: bold;
}
.warning-alert{
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #EED3D7;
    font-weight: bold;
}
.about-to-expire{
    background-color: #FFD300;
}
.green-icon{
    background-color: #FFFFFF;
    color: green;
}
.red-icon{
    background-color: #FFFFFF;
    color: #C00;
    color: red;
}
.marker-indicator-space{
  margin-right: 2em;
}
.info-box{

}
.info-box-number{
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    float: left;
}
.info-box-text{
    margin-left: 50px;
}
.info-box .one{
    background: #D4D4D4;
    color: #ffffff;
}
.info-box .two{
    background: #A7A7A7;
    color: #ffffff;
}
.info-box .three{
    background: #7A7A7A;
    color: #ffffff;
}
.info-box .four{
    background: #424B43;
    color: #ffffff;
}
.form-label{
    font-weight: bold;
}
.w-menu{
    padding: 10px;
}
.w-menu li{
    padding: 4px 0px;
    border: #ffffff solid 1px;

}
accordion .panel-heading:hover {
  cursor: pointer;
}
.removeIcon i:hover{
  color: red;
}
.products accordion .panel-heading .panel-title i:hover {
  color: red;
}
