<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Waste Count </h1>
  </div>
  <div class="panel-body">
    <div class="row" ng-hide="detailView">
      <div class="col-sm-12">
        <a class="btn btn-default" ui-sref="wasteCountForm2">
          <i class="fa fa-plus"></i> Add
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered" ng-hide="detailView">
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Done</th>
            <th>Synced</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in wasteCountList" ng-click="takeAction(row.countDate)">
            <td> {{ $index + 1 }}</td>
            <td><span class="text-info"> {{ row.countDate | date:'MMM dd, yyyy' }} </span></td>
            <td class="text-center">
              <i class="fa "
                 ng-class="{'fa-check-circle text-success': row.isComplete, 'fa-times-circle text-danger': !row.isComplete}"></i>
            </td>
            <td class="text-center"><i class="fa "
                                       ng-class="{'fa-check-circle text-success': row.synced, 'fa-times-circle text-danger': !row.synced}"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <button ng-show="detailView" class="btn btn-default" ng-click="detailView=!detailView">Back to List</button>

        <table class="table table-bordered" ng-show="detailView">
          <thead>
          <tr>
            <th>Item</th>
            <th>Today's Count</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in wasteCountByType" ng-class="{'td-header': row.header}">
            <td>
              <div ng-class="{'child-margin': !row.header}">{{ getName(row) }}</div>
            </td>
            <td>
              <span>{{ row.value }}</span>
                      <span><ng-pluralize count="row.value"
                                          when="
                      {
                      '1': '{{ row.uom }}',
                      'other': '{{ row.uom }}s'}">
                      </ng-pluralize>

                    </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>