<div class="row" ng-show="profileNotFound">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <span i18n="profileLoadingErrorMsg"></span>
      <span><i class="fa fa-exclamation"></i></span>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" i18n="emailConfiguration"></h4>
  </div>
  <div class="panel-body">
    <form name="editAppConfigForm"
          ng-submit="editAppConfigForm.$valid && loadAppFacilityProfile(STEP_TWO, (editAppConfigForm.email).$valid)"
          novalidate>

      <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': (editAppConfigForm.email).$invalid && isSubmitted }">
          <label for="email" i18n="email"></label>
          <input type="email" class="form-control" ng-model="appConfig.uuid" name="email"
                 id="email" required/>
            <span class="alert-danger form-control" i18n="contactPersonEmailErrorMsg"
                  ng-show="(editAppConfigForm.email).$invalid && isSubmitted">
            </span>
        </div>
      </div>
      <div ng-include="'views/app-config/wizard/partials/sequence-map.html'"></div>
      <div class="panel"></div>

      <div class="btn-group">
        <div class="col-md-6">
          <a ui-sref="appConfigWelcome" class="btn btn-default btn-lg">
            <span><i class="fa fa-arrow-circle-left"></i></span>
            <span i18n="back"></span>
          </a>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-lg" ng-disabled="disableBtn"
                  ng-click="isSubmitted = true">
            <span ng-show="!disableBtn" i18n="continue"></span>
            <span ng-show="!disableBtn"><i class="fa fa-arrow-circle-right"></i></span>
            <span ng-show="disableBtn" i18n="loadingProfileMsg"></span>
            <span ng-show="disableBtn"><i class="fa fa-spinner fa-spin"></i></span>
          </button>
        </div>
      </div>

    </form>

  </div>
</div>
