<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" i18n="selectFacilityProductProfiles"></h4>
  </div>
  <div class="panel-body">
    <div ng-include="'views/app-config/partials/forms/product-profile.html'"></div>

    <div ng-include="'views/app-config/wizard/partials/sequence-map.html'"></div>
    <div class="panel"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <button type="button" class="btn btn-default btn-lg" ng-click="moveTo(STEP_THREE)">
            <span><i class="fa fa-arrow-circle-left"></i></span>
            <span i18n="back"></span>
          </button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-success btn-lg" ng-click="save()" ng-disabled="isSaving">
            <span ng-show="!isSaving" i18n="save"></span>
            <span ng-show="!isSaving"><i class="fa fa-floppy-o"></i></i></span>
            <span ng-show="isSaving" i18n="saving"></span>
            <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i></span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
