language: android
node_js:
- '0.10'
before_script:
- npm install -g bower grunt-cli
- npm install
- bower install
script:
- npm test
notifications:
  flowdock: 232485f7661e644ae5878944c2597042
before_deploy:
- ./scripts/build.sh
deploy:
  - provider: s3
    access_key_id: AKIAINSUTVOB4CPQYP2A
    secret_access_key:
      secure: rxaf+OKQKnxXefvvyBnPDDh1lRerKdbI5mvXwx1En7BxdTYRnM2T/IhUMo1SXJH1O1T+eP4vskqA/HjCJCygFApoHj8Zqr7M+z5vje65F4Vpl7AFqLohquLg3vanYXAZ73JKo1zQyNbPd3bmMwjdTekK0+lTD8TSMR59dweqGYI=
    bucket: eha-lomis
    local-dir: build/lomis/snapshots
    upload-dir: snapshots
    skip_cleanup: true
    region: eu-west-1
    on:
      all_branches: true
      repo: eHealthAfrica/LMIS-Chrome
  - provider: s3
    access_key_id: AKIAINSUTVOB4CPQYP2A
    secret_access_key:
      secure: rxaf+OKQKnxXefvvyBnPDDh1lRerKdbI5mvXwx1En7BxdTYRnM2T/IhUMo1SXJH1O1T+eP4vskqA/HjCJCygFApoHj8Zqr7M+z5vje65F4Vpl7AFqLohquLg3vanYXAZ73JKo1zQyNbPd3bmMwjdTekK0+lTD8TSMR59dweqGYI=
    bucket: eha-lomis
    local-dir: build/lomis/releases
    upload-dir: releases
    skip_cleanup: true
    region: eu-west-1
    on:
      all_branches: true
      repo: eHealthAfrica/LMIS-Chrome
      tags: true
