<form class="form-horizontal" novalidate>
<fieldset>

  <div class="form-group">
    <label class="col-md-4 control-label" for="receivingFacilityName" ng-bind="i18n('receivingFacilityName')"></label>
    <div class="col-md-4">
      <select id="receivingFacilityName" name="receivingFacilityName" class="form-control" ng-model="order.receivingFacilityName">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="childFacilityCode" ng-bind="i18n('childFacilityCode')"></label>
    <div class="col-md-4">
      <input id="childFacilityCode" name="childFacilityCode" type="text" class="form-control input-md" required ng-model="order.childFacilityCode">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="parentFacilityName" ng-bind="i18n('parentFacilityName')"></label>
    <div class="col-md-4">
      <select id="parentFacilityName" name="parentFacilityName" class="form-control" ng-model="order.parentFacilityName">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="parentFacilityCode" ng-bind="i18n('parentFacilityCode')"></label>
    <div class="col-md-4">
      <input id="parentFacilityCode" name="parentFacilityCode" type="text" class="form-control input-md" required ng-model="order.parentFacilityCode">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="userCode" ng-bind="i18n('userCode')"></label>
    <div class="col-md-4">
      <input id="userCode" name="userCode" type="text" class="form-control input-md" required ng-model="order.userCode">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="orderNumber" ng-bind="i18n('orderNumber')"></label>
    <div class="col-md-4">
      <input id="orderNumber" name="orderNumber" type="text" class="form-control input-md" required ng-model="order.number">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="orderDate" ng-bind="i18n('orderDate')"></label>
    <div class="col-md-4">
      <input id="orderDate" name="orderDate" type="date" class="form-control input-md" required ng-model="order.date">
    </div>
  </div>

  <div class="products">
    <accordion close-others="true">
      <accordion-group ng-repeat="product in order.products" is-open="true">
        <accordion-heading>
          {{i18n('product') | titlecase}} {{product.id}}
          <i ng-click="removeProduct(product)"
            ng-attr-title="{{i18n('removeProduct')}} {{product.id}}"
            class="pull-right text-muted fa fa-times fa-2x"></i>
        </accordion-heading>
        <div ng-include="'views/orders/forms/partials/product.html'"></div>
      </accordion-group>
    </accordion>
    <button name="addProduct" class="btn btn-default" ng-click="addProduct()">
      <span><i class="fa fa-plus"></i></span>
      <span ng-bind="i18n('add')"></span>
      <ng-pluralize count="productCount"
        when="{'0': i18n('a'), 'one': i18n('another'), 'other': i18n('another')}">
      </ng-pluralize>
      <span ng-bind="i18n('product')"></span>
    </button>
  </div>

  <div class="form-group">
    <div class="col-md-4 pull-right">
      <button id="submit" name="submit" class="btn btn-success" ng-bind="i18n('submit')"></button>
    </div>
  </div>

</fieldset>
</form>
