<form class="form-horizontal">
<fieldset>

  <div class="form-group">
    <label class="col-md-4 control-label" for="receivingFacilityName" ng-bind="i18n('receivingFacilityName')"></label>
    <div class="col-md-4">
      <select id="receivingFacilityName" name="receivingFacilityName" class="form-control">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="childFacilityCode" ng-bind="i18n('childFacilityCode')"></label>
    <div class="col-md-4">
      <input id="childFacilityCode" name="childFacilityCode" type="text" class="form-control input-md" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="parentFacilityName" ng-bind="i18n('parentFacilityName')"></label>
    <div class="col-md-4">
      <select id="parentFacilityName" name="parentFacilityName" class="form-control">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="parentFacilityCode" ng-bind="i18n('parentFacilityCode')"></label>
    <div class="col-md-4">
      <input id="parentFacilityCode" name="parentFacilityCode" type="text" class="form-control input-md" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="userCode" ng-bind="i18n('userCode')"></label>
    <div class="col-md-4">
      <input id="userCode" name="userCode" type="text" class="form-control input-md" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="orderNumber" ng-bind="i18n('orderNumber')"></label>
    <div class="col-md-4">
      <input id="orderNumber" name="orderNumber" type="text" class="form-control input-md" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="productCategory" ng-bind="i18n('productCategory')"></label>
    <div class="col-md-4">
      <select id="productCategory" name="productCategory" class="form-control">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="productProfile" ng-bind="i18n('productProfile')"></label>
    <div class="col-md-4">
      <select id="productProfile" name="productProfile" class="form-control">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="quantity" ng-bind="i18n('quantity')"></label>
    <div class="col-md-4">
      <input id="quantity" name="quantity" type="number" min="1" class="form-control input-md" required>
      <span class="help-block" ng-bind="i18n('numberOfDoses')"></span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="program" ng-bind="i18n('program')"></label>
    <div class="col-md-4">
      <select id="program" name="program" class="form-control">
        <option value="ri" ng-bind="i18n('routineImmunization')"></option>
        <option value="sia" ng-bind="i18n('supplementalImmunizationActivity')"></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 pull-right">
      <button id="submit" name="submit" class="btn btn-success" ng-bind="i18n('submit')"></button>
    </div>
  </div>

</fieldset>
</form>
