<div ng-controller="StockCountFormCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Stock Count for {{ facility_object.name }}</h3>
      <!--h5>Month: {{ reportMonth }} Year: {{ reportYear }}</h5-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number one">1</div>
            <div class="info-box-text">
              Count the number of
              products in each row.
              Count partially used vials
              and bottles separately.
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number two">2</div>
            <div class="info-box-text">
              Enter the TOTAL quantity
              of each product type in
              the appropriate row.
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number three">3</div>
            <div class="info-box-text">
              Double-check what you
              have entered is correct
              and conﬁrm your entry by
              checking the box.
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number four">4</div>
            <div class="info-box-text">
              When ﬁnished with each
              product, submit your
              form by clicking the
              Submit button below!
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form ng-submit="save()">
    <div class="row date-row">
      <div class="col-sm-2">Report Day</div>
      <div class="col-sm-2">
        <select ng-model="stockCount.day" class="form-control">
          <option value="">-- select day --</option>
          <option ng-selected="day == currentDay" ng-repeat="day in daysInMonth" value="{{ day }}">{{ day }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Stock Item</th>
                  <th colspan="2">Todays Count</th>
                  <th>Confirm</th>
                </tr>
                <tr>
                  <th></th>
                  <th>Unopened</th>
                  <th>Opened</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in products">
                  <td class="form-label">{{ product }}</td>
                  <td>
                    <div class="col-sm-6">
                      <input type="number" class="form-control" ng-model="stockCount.unopened[$index]">
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-6">
                      <input type="number" class="form-control" ng-model="stockCount.opened[$index]">
                    </div>
                  </td>
                  <td><input ng-model="stockCount.confirmation[$index]" value="1" type="checkbox"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <button class="form-control">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
