<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="wizard clearfix">
            <div class="steps clearfix">
                <ul role="tablist">
                    <li role="tab" ng-class="{' current':!report_available, ' disabled': report_available}" class="first" aria-disabled="false" aria-selected="true">
                        <a aria-controls="steps-uid-1-p-0" href="#steps-uid-1-h-0" id="steps-uid-1-t-0">
                            <span class="number">1</span> Report Profile
                        </a>
                    </li>
                    <li role="tab" ng-class="{'current':report_available, 'disabled': !report_available}" class="" aria-disabled="true">
                        <a aria-controls="steps-uid-1-p-1" href="#steps-uid-1-h-1" id="steps-uid-1-t-1">
                            <span class="number">2</span> Daily Stock record
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>