<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <a class="btn btn-default" ui-sref="stockCountForm({reportYear: year, reportMonth: month, reportDay: day})">Add Stock Count</a>
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal">
          <div class="btn-group pull-right">
            <select class="btn btn-default" ng-model="day" >
              <option value="">Day</option>
              <option ng-disabled="_day > currentDay && year === currentYear && month === currentMonth" ng-selected="day === _day" value="{{ _day }}" ng-repeat="_day in dayInMonth">{{ _day }}</option>
            </select>
            <select class="btn btn-default" ng-model="month" >
              <option value="">Month</option>
              <option ng-disabled="key > currentMonth && year === currentYear" ng-selected="month === key" ng-repeat="(key, value) in monthList" value="{{ key }}">{{ value }} </option>
            </select>
            <select ng-model="year" class="btn btn-default" >
              <option>Year</option>
              <option ng-selected="year === _year" value="{{ _year }}" ng-repeat="_year in yearRange">{{ _year }}</option>
            </select>
          </div>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Synced</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in stockCountList">
              <td> {{ $index + 1 }} </td>
              <td> {{row.countDate}} </td>
              <td> {{ productQty(row.unopened) }} </td>
              <td class="text-center">
                <i class="fa " ng-class="{'fa-check-circle text-success': row.isComplete, 'fa-times-circle text-danger': !row.isComplete}"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>