<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Stock Count for the month of {{ monthList[currentMonth] }} {{ currentYear }}</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered" ng-hide="detailView">
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Done</th>
            <th>Synced</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="date in dateList" ng-class="{'pointer':!missedEntry(date), 'disabled':missedEntry(date) }"
              ng-click="takeAction(date)">
            <td> {{ $index + 1 }}</td>
            <td><span class="text-info"> {{ date | date:'MMM dd, yyyy' }} </span></td>
            <td class="text-center">
              <i class="fa "
                 ng-class="{'fa-check-circle text-success': stockCountByDate[date].isComplete, 'fa-times-circle text-danger': !stockCountByDate[date].isComplete}"></i>
            </td>
            <td class="text-center"><i class="fa "
                                       ng-class="{'fa-check-circle text-success': stockCountByDate[date].synced, 'fa-times-circle text-danger': !stockCountByDate[date].synced}"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <button ng-show="detailView" class="btn btn-default" ng-click="detailView=!detailView" i18n="backToList">
        </button>
          <a class="btn btn-default" ui-sref="stockCountForm({countDate: stockCount.countDate})"
           ng-show="detailView && !editOff">
          <span><i class="fa fa-edit"></i></span>
          <span i18n="edit"></span>
        </a>
        <table class="table table-bordered" ng-show="detailView">
          <thead>
          <tr>
            <th i18n="stockItem"></th>
            <th i18n="count"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="productProfile in selectedProductProfiles">
            <td ng-bind="productProfile.name"></td>
            <td>
              <span ng-bind="stockCount.unopened[productProfile.uuid]"></span>
              <span>
                <ng-pluralize count="stockCount.unopened[productProfile.uuid]"
                              when="
                      {
                      '0': '{{ ((productProfile.presentation).uom).name }}',
                      '1': '{{ ((productProfile.presentation).uom).name }}',
                      'other': '{{ ((productProfile.presentation).uom).name }}s'}">
                </ng-pluralize>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>