<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title" i18n="stockCountHistory"></h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered" ng-hide="detailView">
          <thead>
          <tr>
            <th>#</th>
            <th i18n="date"></th>
            <th i18n="done"></th>
            <th i18n="synced"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="stockCount in stockCountsByCreatedDate" ng-class="{'pointer':!missedEntry(date), 'disabled':missedEntry(date) }"
              ng-click="showStockCountFormByDate(stockCount.countDate, $index === 0)">
            <td> {{ $index + 1 }}</td>
            <td><span class="text-info"> {{ stockCount.created | date:'MMM dd, yyyy' }} </span></td>
            <td class="text-center">
              <i class="fa "
                 ng-class="{'fa-check-circle text-success': stockCount.isComplete, 'fa-times-circle text-danger': !stockCount.isComplete}"></i>
            </td>
            <td class="text-center"><i class="fa "
                                       ng-class="{'fa-check-circle text-success': stockCount.synced, 'fa-times-circle text-danger': !stockCount.synced}"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>