<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="info-box">
          <div class="info-box-number one">1</div>
          <div class="info-box-text">
            Count the number of
            products in each row.
            Count partially used vials
            and bottles separately.
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="info-box">
          <div class="info-box-number two">2</div>
          <div class="info-box-text">
            Enter the TOTAL quantity
            of each product type in
            the appropriate row.
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="info-box">
          <div class="info-box-number three">3</div>
          <div class="info-box-text">
            Double-check what you
            have entered is correct
            and conﬁrm your entry by
            checking the box.
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="info-box">
          <div class="info-box-number four">4</div>
          <div class="info-box-text">
            When ﬁnished with each
            product, submit your
            form by clicking the
            Submit button below!
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-controller="StockCountStepsFormCtrl">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h3 >Stock Count for {{ currentFacility.name }} -
          <select ng-model="stockCount.day" ng-show="showDay" ng-change="hideSelect()">
            <option value="">-- select day --</option>
            <option  ng-selected="day == currentDay" ng-repeat="day in daysInMonth" val
                    ue="{{ day }}">
              {{ day }}
            </option>
          </select>
          {{ stockCount.day }} {{ monthList[reportMonth] }} {{ reportYear }}
        </h3>
      </div>
    </div>
    <form ng-submit="save()">
      <div class="row">
        <div class="col-sm-12" ng-hide="preview">
          <div class="row">
            <div class="col-sm-12">
              <h3>{{ getReadableName(facilityProducts[facilityProductsKeys[step]].name)}}</h3>
              <h5>{{productType[facilityProducts[facilityProductsKeys[step]].product].code}}</h5>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default col-sm-12 col-xs-12"
                        ng-click="changeState(0)">
                      <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                    </button>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <span ng-repeat="key in facilityProductsKeys" ng-show="step === $index"  type="number">
                    <input
                          class="form-control input-lg" ng-model="stockCount.unopened[key]" />
                  </span>

                </div>
                <div class="col-sm-4 col-xs-12">
                  <button type="button" ng-hide="step === maxStep"
                          class="btn btn-lg btn-success col-sm-12 col-xs-12"
                          ng-click="changeState(1)">
                    Next <i class="fa fa-chevron-circle-right fa-lg"></i>
                  </button>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <button type="button" ng-show="step === maxStep"
                          class="btn btn-lg btn-success col-sm-12 col-xs-12"
                          ng-click="preview=!preview">
                    Save <i class="fa fa-save fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            </div>
            <div class="row" ng-show="editOn">
              <div class="col-sm-6 data-row">
                 <button type="button" class="btn btn-lg btn-warning col-sm-12 col-xs-12" ng-click="preview=!preview">
                    Save <i class="fa fa-save fa-lg"></i>
                 </button>
              </div>
            </div>
        </div>
        </div>
        <div class="row" ng-show="preview">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Stock Item</th>
                      <th>Todays Count</th>
                      <!--th>Confirm</th-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="key in facilityProductsKeys" ng-click="edit($index)">
                      <td class="form-label">{{ facilityProducts[key].name }}</td>
                      <td>
                        {{ stockCount.unopened[key] }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 date-row">
                <button type="button" class="btn btn-lg btn-default" ng-click="preview=!preview">
                    <i class="fa fa-chevron-circle-left"></i> Back to form
                </button>
                <button class="btn btn-success btn-lg">Confirm and Save <i class="fa fa-save"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>