<div class="row" ng-controller="StockCountStepsFormCtrl">
  <div class="col-sm-12">
     <div class="row">
        <div class="col-sm-12">
            <h3 >Stock Count for {{ facilityObject.name }}</h3>
            <h5>
              <select ng-model="stockCount.day" ng-show="showDay" ng-change="hideSelect()">
                  <option value="">-- select day --</option>
                  <option  ng-selected="day == currentDay" ng-repeat="day in daysInMonth" val
                          ue="{{ day }}">
                    {{ day }}
                  </option>
              </select>
              <span class="badge badge-info" ng-hide="showDay" ng-click="showDay=!showDay">{{ stockCount.day }}</span> {{
              monthList[reportMonth] }} {{ reportYear
              }}</h5>
        </div>
    </div>
    <form ng-submit="save()">
      <div class="row">
        <div class="col-sm-12" ng-hide="preview">
          <div class="row">
            <div class="col-sm-12">
              <h1>{{ stockProducts[step] }}</h1>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                      <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default col-sm-12 col-xs-12"
                          ng-click="step = step - 1">
                        <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                      </button>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                     <input ng-repeat="product in stockProducts" ng-show="step === $index" type="number" class="form-control input-lg" ng-model="stockCount.used_unopened[$index]" />
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <button type="button" ng-disabled="step === maxStep" class="btn btn-lg btn-default col-sm-12 col-xs-12"
                            ng-click="step = step + 1">
                      Next <i class="fa fa-chevron-circle-right fa-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 data-row">
                   <button type="button" class="btn btn-lg btn-default col-sm-12 col-xs-12" ng-click="preview=!preview">
                    Preview <i class="fa fa-bullseye fa-lg"></i>
                  </button>
              </div>
            </div>
        </div>
      </div>
      <div class="row" ng-show="preview">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 date-row">
              <button type="button" class="btn btn-lg btn-default" ng-click="preview=!preview">
                  Back to form <i class="fa fa-bullseye fa-lg"></i>
                </button>
                <!--select ng-model="selectedProduct" ng-change="jumpTo()" class="btn btn-lg btn-default">
                  <option value="">Jump to</option>
                  <option ng-repeat="product in stockProducts" value="{{ $index }}">{{ product }}</option>
                </select-->
                <button class="btn btn-default btn-lg">Save <i class="fa fa-save"></i></button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Stock Item</th>
                    <th>Todays Count</th>
                    <!--th>Confirm</th-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="product in stockProducts" ng-click="edit($index)">
                    <td class="form-label">{{ product }}</td>
                    <td>
                      {{ stockCount.used_unopened[$index] }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>