<div class="panel panel-default" ng-show="showHelp">
  <div class="panel-body">

    <div class="col-sm-12">
      <div class="pull-right" ng-click="showHelp=!showHelp">
        <i class="text-danger fa fa-times"></i>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number one">1</div>
            <div class="info-box-text">
              Count the number of vials
              discarded today.
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number two">2</div>
            <div class="info-box-text">
              Enter the TOTAL quantity
              of each product type in
              the appropriate row.
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number three">3</div>
            <div class="info-box-text">
              Provide the reason or
              reasons for why vials of
              that product type was
              discarded.
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <div class="info-box-number four">4</div>
            <div class="info-box-text">
              When finished with each
              product, submit your
              form by clicking the
              Submit button below!
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title" >
      Waste Count for {{ facilityObject.name }} - {{ currentDay }} {{ monthList[reportMonth] }} {{ reportYear }}
      <div class="pull-right">
        <span ng-click="showHelp=!showHelp">
          <i class="text-success fa fa-question-circle fa-2x"></i>
        </span>
      </div>
      <div class="clearfix"></div>
    </h1>
  </div>

  <div class="panel-body">
    <form ng-submit="finalSave()">
      <div>
        <div class="col-sm-12" ng-hide="preview">
          <div class="row">
            <div class="col-sm-12">
              <h6 class="text-center">{{selectedFacilityProduct}}</h6>
              <h3 class="text-center">Discarded {{ productTypeCode.code }}</h3>
              <h2 class="text-center">{{ wasteCount.discarded[productKey] }}</h2>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                  <!-- start form previous button -->
                  <div class="col-xs-12 col-sm-4 hidden-xs">
                    <div class="btn-separator">
                      <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default col-sm-12 col-xs-12"
                          ng-click="changeState(0)">
                        <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                      </button>
                    </div>
                  </div>
                  <!-- start form counter input -->
                  <!-- counter form not needed for now or maybe forever
                  <div class="col-sm-3 col-xs-12">
                    <div class="btn-separator">
                      <counter bind="wasteCount.discarded[productKey]"></counter>
                    </div>
                    <div ng-show="productError" class="custom-error text-center" >{{ productErrorMsg }}</div>
                  </div>
                  -->
                  <!-- reasons for wastage -->
                  <div class="col-sm-4 col-xs-12">
                    <div class="btn-separator">
                      <div class="form-group has-feedback" ng-class="{'has-error': reasonError}">
                          <div ng-repeat="reason in discardedReasons">
                            <div class="form-group">
                              <label for="wasteCount.reason[productKey][$index]">{{ reason }}</label>
                              <input class="form-control" id="wasteCount.reason[productKey][$index]" ng-init="wasteCount.reason[productKey][$index] = 0" ng-model="wasteCount.reason[productKey][$index]" ng-blur="checkInput($index)" type="number">
                              <div ng-show="wasteErrors[productKey][$index]" class="custom-error text-center">{{ wasteErrorMsg[productKey][$index] }}</div>
                            </div>
                          </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <!-- start form next button -->
                  <div class="col-sm-4 col-xs-12 hidden-xs">
                    <div class="btn-separator">
                      <button type="button" ng-hide="step === maxStep"
                              class="btn btn-lg btn-success col-sm-12 col-xs-12"
                              ng-click="changeState(1)">
                        Next <i class="fa fa-chevron-circle-right fa-lg"></i>
                      </button>
                    </div>
                  </div>
                  <!-- this button is shown only in mobile mode -->
                  <div class="col-xs-12 visible-xs">
                    <div class="btn-separator" ng-hide="step === maxStep">
                      <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                          <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default"
                              ng-click="changeState(0)">
                            <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                          </button>
                        </div>
                        <div class="btn-group">
                          <button type="button" ng-hide="step === maxStep"
                                  class="btn btn-lg btn-success col-sm-12 col-xs-12"
                                  ng-click="changeState(1)">
                            Next <i class="fa fa-chevron-circle-right fa-lg"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 visible-xs">
                    <div class="btn-separator" ng-show="step === maxStep">
                      <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                          <button type="button" ng-disabled="step === 0" class="btn btn-lg btn-default"
                              ng-click="changeState(0)">
                            <i class="fa fa-chevron-circle-left fa-lg"></i> Prev
                          </button>
                        </div>
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-lg btn-success"
                                  ng-click="changeState(2)">
                            Save <i class="fa fa-save fa-lg"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- this button is shown when we get tp the end of the list -->
                  <div class="col-sm-3 col-xs-12 hidden-xs">
                    <button type="button" ng-show="step === maxStep"
                            class="btn btn-lg btn-success col-sm-12 col-xs-12"
                            ng-click="changeState(2)">
                      Save <i class="fa fa-save fa-lg"></i>
                    </button>
                  </div>

                </div>
              </div>
            </div>
            <div class="row" ng-show="editOn && step !== maxStep && wasteCount.isComplete">
              <div class="col-sm-6 data-row">
                <div class="btn-separator">
                   <button type="button" class="btn btn-lg btn-warning col-sm-12 col-xs-12" ng-click="preview=!preview">
                      Save <i class="fa fa-save fa-lg"></i>
                   </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-show="preview">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Item</th>
                    <th>Today's Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  <!--tr ng-repeat="key in facilityProductsKeys" ng-click="edit($index)">
                    <td class="form-label">{{ facilityProducts[key].name }}</td>
                    <td>
                      {{ wasteCount.discarded[key] }}
                    </td>
                    <td>
                      <div ng-hide="reason === null " ng-repeat="(reasonKey, reason) in wasteCount.reason[key]"> {{ discardedReasons[reasonKey] }} = {{ reason }} </div>
                    </td>
                  </tr-->
                  <tr ng-repeat="row in wasteCountByType" ng-class="{'td-header': row.header}">
                    <td>
                      <div ng-class="{'child-margin': !row.header}">{{ getName(row) }}</div>
                    </td>
                    <td>{{ row.value }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs">
              <div class="btn-separator">
                <button type="button" class="btn btn-lg btn-default" ng-click="preview=!preview">
                    <i class="fa fa-chevron-circle-left"></i> Back to form
                </button>
                <button class="btn btn-success btn-lg">
                  Confirm and Save <i class="fa fa-save"></i>
                </button>
              </div>
            </div>

            <div class="col-xs-12 visible-xs">
              <div class="btn-separator">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-default" ng-click="preview=!preview">
                        <i class="fa fa-chevron-circle-left"></i> Back to form
                    </button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-success btn-lg">
                      Confirm and Save <i class="fa fa-save"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>