<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="removeIcon" title="click to remove this row.">
        <i ng-click="removeInventoryLine(inventoryLine)" class="pull-center text-muted fa fa-times fa-2x"></i>
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="col-sm-12">

      <div class="col-sm-4">
        <label translate="productTypes"></label>
        <select ng-model="inventoryLine.productType" class="form-control"
                ng-change="loadProductTypeBatches(inventoryLine)">
          <option value="" translate="selectProductType"></option>
          <option ng-repeat="type in inventoryLine.productTypes" value="{{ type.uuid }}"
                  ng-selected="{{ (inventoryLine.productType).uuid === type.uuid}}"
                  ng-bind="type.name">
          </option>
        </select>
      </div>

      <div class="col-sm-4">
        <label translate="batchNo"></label>
        <input class="form-control" type="text" name="batchNo" ng-model="inventoryLine.batch_no" required/>
      </div>

      <div class="col-sm-4">
        <label translate="program"></label>
        <select ng-model="inventoryLine.program" class="form-control">
          <option value="" translate="selectProgram"></option>
          <option ng-repeat="program in programs" value="{{ program.uuid }}"
                  ng-selected="{{ (inventoryLine.program).uuid === program.uuid}}"
                  ng-bind="program.name"></option>
        </select>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label translate="quantity"></label>

        <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-warning" type="button" ng-click="subtract(inventoryLine)"><i class="fa fa-minus"></i></button>
        </span>
          <input type="text" class="form-control" ng-model="inventoryLine.quantity" required>
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" ng-click="add(inventoryLine)"><i class="fa fa-plus"></i></button>
        </span>
        </div>
      </div>

      <div class="col-sm-4">
        <label translate="uom"></label>
        <select class="form-control" ng-model="inventoryLine.uom" required>
          <option value="" translate="selectUOM"></option>
          <option ng-repeat="uom in uomList" value="{{ uom.uuid }}" ng-bind="uom.name"
                  ng-selected="{{ (inventoryLine.uom).uuid === uom.uuid }}"></option>
        </select>
      </div>

      <div class="col-sm-4">
        <label translate="storageUnit"></label>
        <select class="form-control" ng-model="inventoryLine.storage_unit">
          <option value="" translate="addToStorageUnit"></option>
          <option ng-repeat="storageUnit in receivingFacilityStorageUnits"
                  value="{{ storageUnit.uuid }}"
                  ng-selected="{{ (inventoryLine.storageUnit).uuid === storageUnit.uuid }}"
                  ng-bind="storageUnit.name ">
          </option>
        </select>
      </div>
    </div>
  </div>
</div>