<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span>
        {{ ($index + 1) }}
      </span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label translate="productTypes"></label>
        <span class="new-line" ng-bind="getProductTypeByUUID(inventoryLine.productType).name"></span>
      </div>

      <div class="col-sm-4">
        <label translate="batchNo"></label>
        <span class="new-line" ng-bind="inventoryLine.batch_no"></span>
      </div>

      <div class="col-sm-4">
        <label translate="program"></label>
        <span class="new-line" ng-bind="inventoryLine.program"></span>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <label translate="quantity"></label>
        <span class="new-line" ng-bind="inventoryLine.quantity"></span>
      </div>

      <div class="col-sm-4">
        <label translate="uom"></label>
        <span class="new-line" ng-bind="inventoryLine.uom"></span>
      </div>

      <div class="col-sm-4">
        <label translate="storageUnit"></label>
        <span class="new-line" ng-bind="inventoryLine.storage_unit"></span>
      </div>
    </div>
  </div>
</div>