<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Preview New Inventory</h4>
  </div>
  <div class="panel-body">
    <form ng-submit="save()">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Order Detail</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label translate="sendingFacility"></label>
                      <span class="new-line" ng-bind="inventory.sending_facility"></span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label translate="receivingFacility"></label>
                      <span class="new-line" ng-bind="(inventory.receiving_facility).name"></span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label translate="bundleNo"></label>
                      <span class="new-line" ng-bind="inventory.bundle_no"></span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label translate="dateReceived"></label>
                      <span class="new-line" ng-bind="(inventory.date_receipt | date: 'dd MMMM, yyyy')"></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">New Inventory Detail</h4>
            </div>
            <div class="panel-body" ng-show="(inventory.inventory_lines).length !== 0">
              <div class="div-striped" ng-repeat="inventoryLine in inventory.inventory_lines"
                   ng-include="'views/inventory/partials/preview-inventory-line.html'">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-4 pull-left">
            <div class="btn-group col-sm-3">
            <span ng-click="inventory.showForm = true" class="btn btn-default">
              <i class="fa fa-chevron-circle-left"></i>Back</span>
            </div>
          </div>

          <div class="col-md-4 pull-right">
            <button type="submit" id="preview" name="preview" class="btn btn-success">
              <span translate="confirm"></span>
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>