<form novalidate ng-submit="save()">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="name">Facility Name</label>
      <input type="text" class="form-control" ng-model="facility.name" />
    </div>
    <div class="form-group">
      <label for="address">Description/Notes</label>
      <textarea cols="10" rows="3" class="form-control" ng-model="facility.description"></textarea>
    </div>
    <div class="form-group">
      <label for="operators">Facility Operators</label>
      <select multiple="multiple" id="operators" class="form-control" ng-model="facility.operators">
        <option>NPHCDA</option>
        <option>Kano SPHCMB</option>
        <option>Katsina SPHCMB</option>
        <option>Private</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="type">Facility Type</label>
      <select id="type" class="form-control" ng-model="facility.type">
        <option>Health Facility</option>
        <option>Zonal Store</option>
        <option>State Store</option>
        <option>Regional Store</option>
        <option>National Store</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pop">Facility Catchment Population</label>
      <input type="number" id="pop" class="form-control" ng-model="facility.catchmentPopulation" />
    </div>
    <div class="form-group">
      <label for="products">Facility Products</label>
      <select multiple="multiple" id="products" class="form-control" ng-model="facility.products">
        <option>OPV</option>
        <option>BCG</option>
        <option>Anti-Malarial</option>
        <option>Syringe</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">
    <label>Facility Details</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="sdp" ng-model="facility.sdp">
        Service Delivery Point
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="supplier" ng-model="facility.suppliesOthers">
        Suppliers Other Facilities
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="active" ng-model="facility.isActive">
        Facility Currently Active
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="active" ng-model="facility.isOnline">
        On-Line
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="active" ng-model="facility.hasElectricity">
        Has Electricity
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="active" ng-model="facility.isSatellite">
        Satellite
      </label>
    </div>
  </div>
</form>
