<footer id="footer" ng-controller="FooterCtrl">
  <div class="container">
    <small class="text-muted">
      <span ng-bind="'© ' + year"></span>
      <span translate="appAuthor"></span>
      <span class="pull-right" ng-bind="'v' + version"></span>
      <nav role="navigation">
        <ul class="list-inline">
          <li><a ui-sref="home.index.controlPanel" translate="dashboard"></a></li>
          <li><a translate="termsOfService"></a></li>
          <li><a translate="privacyPolicy"></a></li>
          <li><a translate="contactUs"></a></li>
        </ul>
      </nav>
    </small>
  </div>
</footer>
