<header id="top_header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <a ui-sref="home.index.controlPanel" class="navbar-brand"
          translate="appName"></a>
      </div>
      <div class="col-md-2 text-right pull-right">
        <div class="notification_dropdown dropdown"
          ng-include="'views/partials/notifications.html'"></div>
        <div class="notification_separator"></div>
        <div class="notification_dropdown">
          <span class="label"
            ng-class="{'label-success': online, 'label-danger': !online}"
            ng-bind="online ? 'online' : 'offline'"></span>
        </div>
      </div>
    </div>
  </div>
</header>
