<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a ui-sref="home.index.mainActivity" class="navbar-brand" i18n="appName"></a>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a>
            <span class="label"
              ng-class="{'label-success': online, 'label-danger': !online}"
              ng-bind="online ? ('online' | i18n) : ('offline' | i18n)">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
