<fieldset>
  <div lmis-page-view-report="app-config_partials_forms_contact-person" class="row">
    <div class="col-sm-6">
      <div class="form-group" ng-class="{ 'has-error': ((editAppConfigForm.contactPersonName).$error).required
                      && isSubmitted }">
        <label for="contactPerson" i18n="name"></label>
        <input type="text" class="form-control" ng-model="(appConfig.contactPerson).name"
               name="contactPersonName" id="contactPerson" required/>
                      <span class="alert-danger form-control" i18n="contactPersonNameErrorMsg"
                            ng-show="((editAppConfigForm.contactPersonName).$error).required && isSubmitted">
                      </span>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group"
           ng-class="{ 'has-error': (editAppConfigForm.contactPhoneNo).$invalid && isSubmitted }">
        <label for="contactPhoneNo" i18n="phoneNo"></label>
        <input type="tel" class="form-control" ng-model="(appConfig.contactPerson).phoneNo"
               name="contactPhoneNo" id="contactPhoneNo" required/>
                  <span class="alert-danger form-control" i18n="contactPersonPhoneNoErrorMsg"
                        ng-show="(editAppConfigForm.contactPhoneNo).$invalid && isSubmitted">
                  </span>
      </div>
    </div>
  </div>
</fieldset>