<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Select Parent Facilities</h4>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
               <input class="" type="checkbox" name="parentStore" value="zonal" /> <label>{{appConfig.facility.zone}} Zone Cold Store</label>
            </div>
            <div class="form-group">
               <input class="" type="checkbox" name="parentStore" value="lga" /> <label>{{appConfig.facility.lga}} LGA Store</label>
            </div>
            <div class="form-group">
                <label>Parent Health Facility</label>
                <select class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label>Child Health Facility</label>
                <select class="form-control">
                    <option></option>
                </select>
            </div>
        </form>
    </div>
</div>