<div class="col-md-6">
  <div class="row panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" i18n="selectedProductProfile"></h4>
    </div>

      <div class="list-group pre-scrollable">
        <li class="list-group-item" ng-repeat="productProfile in appConfig.selectedProductProfiles
                          track by $index"
            ng-bind="productProfile.name">
        </li>
      </div>


      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" i18n="selectedProductProfile"></h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="pre-scrollable">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="productProfile in appConfig.selectedProductProfiles
                              track by $index"
                    ng-bind="productProfile.name">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>


<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" i18n="selectFacilityProductProfiles"></h4>
    </div>
    <div class="panel-body">
      <fieldset>
        <div ng-include="'views/partials/search.html'"></div>
        <div class="panel-body"></div>
        <div class="pre-scrollable">
          <div class="checkbox"
               ng-repeat="productProfile in productProfiles | filter:search track by productProfile.uuid">
            <label>
              <input type="checkbox" ng-model="productProfileCheckBoxes[productProfile.uuid]"
                     ng-true-value="{{ productProfile }}"
                     ng-false-value="{{ {'uuid': productProfile.uuid, deSelected: true} }}"
                     ng-change="handleSelectionEvent(productProfileCheckBoxes[productProfile.uuid])"
                     ng-checked="preSelectProductProfileCheckBox[productProfile.uuid]"/>
              {{ productProfile.name }}
            </label>
          </div>
          <br/>
        </div>
      </fieldset>
    </div>
  </div>
</div>