<div class="col-md-12">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" i18n="selectFacilityProductProfiles"></h4>
    </div>
    <div ng-include="'views/partials/search.html'"></div>
    <div class="panel-body"></div>
    <div ng-repeat="ppCategory in productProfileCategories">

      <div class="list-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ (productProfilesGroupedByCategory[ppCategory].category).name }}</h4>
          </div>
        </div>
        <div ng-class="{
          'highlight-selected-item': preSelectProductProfileCheckBox[productProfile.uuid], 'list-group-item': true }"
                ng-repeat="productProfile in productProfilesGroupedByCategory[ppCategory].productProfiles | filter:search track by productProfile.uuid">
          <label>
            <input type="checkbox" ng-model="productProfileCheckBoxes[productProfile.uuid]"
                   ng-true-value="{{ productProfile }}"
                   ng-false-value="{{ {'uuid': productProfile.uuid, deSelected: true} }}"
                   ng-change="onProductProfileSelection(productProfileCheckBoxes[productProfile.uuid])"
                   ng-checked="preSelectProductProfileCheckBox[productProfile.uuid]"/>
            {{ productProfile.name }}
          </label>
        </div>
      </div>
    </div>
    </div>

</div>
