<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a ui-sref="home.index.home.mainActivity" lmis-analytics-directive="LoMIS" class="navbar-brand">
        <span class="fa fa-home"></span>
        <span i18n="appName"></span>
      </a>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a lmis-analytics-directive="on_off_line_toggle">
            <span
              class="label"
              ng-class="{
                'label-success': status.label === states.online,
                'label-danger': status.label === states.offline
              }"
              ng-bind="status.label">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
