<header>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a ui-sref="home.index.home.mainActivity" class="navbar-brand">
        <span class="fa fa-home"></span>
        <span i18n="appName"></span>
      </a>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a>
            <span
              class="label"
              ng-class="{
                'label-success': status.online,
                'label-danger': !status.online
              }"
              ng-bind="status.label">
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
