<div class="row">
  <form name="editAppConfigForm" ng-submit="editAppConfigForm.$valid && save()" novalidate>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Facility info.</h4>
        </div>
        <div class="panel-body">
          <fieldset>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error': (editAppConfigForm.appFacility).$invalid && isSubmitted }">
                  <label i18n="facility"></label>
                  <select id="appFacility" name="appFacility" class="form-control" ng-model="appConfig.facility"
                          required>
                    <option value="" i18n="selectFacility"></option>
                    <option ng-repeat="facility in facilities" value="{{ facility }}"
                            ng-selected="facility.uuid === (appConfig.appFacility).uuid"
                            ng-bind="facility.name" required>
                    </option>
                  </select>
                  <span class="alert-danger form-control" i18n="appConfigFacilityErrorMsg"
                        ng-show="(editAppConfigForm.appFacility).$invalid && isSubmitted">
                  </span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error': (editAppConfigForm.stockCountInterval).$invalid && isSubmitted }">
                  <label for="stockCountInterval" i18n="stockCountInterval"></label>
                  <select id="stockCountInterval" class="form-control" ng-model="appConfig.stockCountInterval"
                          name="stockCountInterval" required>
                    <option value="" i18n="selectStockCountInterval"></option>
                    <option ng-repeat="interval in stockCountIntervals" value="{{ interval.value }}"
                            ng-selected="interval.value === appConfig.stockCountInterval"
                            ng-bind="interval.name" required>
                    </option>
                  </select>
                  <span class="alert-danger form-control" i18n="appConfigStockCountErrorMsg"
                        ng-show="(editAppConfigForm.stockCountInterval).$invalid && isSubmitted">
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" i18n="contactPersonInfo"></h4>
        </div>
        <div class="panel-body">
          <fieldset>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error': ((editAppConfigForm.contactPersonName).$error).required
                      && isSubmitted }">
                  <label for="contactPerson" i18n="name"></label>
                  <input type="text" class="form-control" ng-model="(appConfig.contactPerson).name"
                         name="contactPersonName" id="contactPerson" required/>
                      <span class="alert-danger form-control" i18n="contactPersonNameErrorMsg"
                            ng-show="((editAppConfigForm.contactPersonName).$error).required && isSubmitted">
                      </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error': (editAppConfigForm.contactPhoneNo).$invalid && isSubmitted }">
                  <label for="contactPhoneNo" i18n="phoneNo"></label>
                  <input type="tel" class="form-control" ng-model="(appConfig.contactPerson).phoneNo"
                         name="contactPhoneNo" id="contactPhoneNo" required/>
                  <span class="alert-danger" i18n="contactPersonPhoneNoErrorMsg"
                        ng-show="(editAppConfigForm.contactPhoneNo).$invalid && isSubmitted">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error': (editAppConfigForm.email).$invalid && isSubmitted }">
                  <label for="email" i18n="email"></label>
                  <input type="email" class="form-control" ng-model="(appConfig.contactPerson).email" name="email"
                         id="email" required/>
                  <span class="alert-danger" i18n="contactPersonEmailErrorMsg"
                        ng-show="(editAppConfigForm.email).$invalid && isSubmitted">
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="col-sm-15">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" i18n="selectFacilityProductProfiles"></h4>
          </div>
          <div class="panel-body">
            <fieldset>
              <div ng-include="'views/partials/search.html'"></div>
              <div class="panel-body"></div>
              <div class="pre-scrollable">
                <div class="checkbox"
                     ng-repeat="productProfile in productProfiles | filter:search track by productProfile.uuid">
                  <label>
                    <input type="checkbox" ng-model="productProfileCheckBoxes[productProfile.uuid]"
                           ng-true-value="{{ productProfile }}"
                           ng-false-value="{{ {'uuid': productProfile.uuid, deSelected: true} }}"
                           ng-change="handleSelectionEvent(productProfileCheckBoxes[productProfile.uuid])"
                           ng-checked="preSelectProductProfileCheckBox[productProfile.uuid]"/>
                    {{ productProfile.name }}
                  </label>
                </div>
                <br/>
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" i18n="selectedProductProfile"></h4>
          </div>
          <div class="panel-body">
            <fieldset>
              <div class="pre-scrollable">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="productProfile in appConfig.selectedProductProfiles
                          track by $index"
                      ng-bind="productProfile.name">
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel-body"></div>
      <div class="col-sm-12">
        <div class="col-md-4 pull-left">
          <button type="submit" id="save" name="save" class="btn btn-success" ng-click="isSubmitted = true">
            <span i18n="save"></span>
            <i class="fa fa-save"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body"></div>
  </form>
</div>

