<div class="row">
  <form name="editAppConfigForm" ng-submit="editAppConfigForm.$valid && save()" novalidate>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Facility info.</h4>
        </div>
        <div class="panel-body">
          <div ng-include="'views/app-config/partials/forms/facility-info.html'"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" i18n="contactPersonInfo"></h4>
        </div>
        <div class="panel-body">
          <div ng-include="'views/app-config/partials/forms/contact-person.html'"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-15">
      <div ng-include="'views/app-config/partials/forms/product-profile.html'"></div>
    </div>

    <div class="row">
      <div class="panel-body"></div>
      <div class="col-sm-12">
        <div class="col-md-4 pull-left">
          <button type="submit" id="save" name="save" class="btn btn-success btn-lg" ng-click="isSubmitted = true">
            <span i18n="save"></span>
            <i class="fa fa-save"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body"></div>
  </form>
</div>

