<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" i18n="appConfigWelcomeMsg"></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <span i18n="welcomeMsgBody"></span>
      </div>
    </div>
    <div class="panel-body"></div>
    <div class="row">
      <div class="col-xs-4">
        <a ui-sref="appConfig.wizard" lmis-analytics-directive="welcome" class="btn btn-success btn-lg" ng-click="loadingDeviceInfo = true"
           ng-disabled="loadingDeviceInfo">
          <span ng-show="!loadingDeviceInfo" i18n="continue"></span>
          <span ng-show="!loadingDeviceInfo"><i class="fa fa-arrow-circle-right"></i></span>
          <span ng-show="loadingDeviceInfo" i18n="loading"></span>
          <span ng-show="loadingDeviceInfo"><i class="fa fa-spinner fa-spin"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
