<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title" i18n="appConfigWelcomeMsg"></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <span i18n="welcomeMsgBody"></span>
      </div>
    </div>
    <div class="panel-body"></div>
    <div class="row">
      <div class="col-xs-4">
        <a ui-sref="appConfigWizard" class="btn btn-success">
          <span i18n="continue"></span>
          <span><i class="fa fa-arrow-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
