<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" i18n="appConfigWelcomeMsg"></h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <span i18n="welcomeMsgBody"></span>
        </div>
         <div class="panel-body"></div>
        <div class="col-md-4 ">
          <button type="button" id="continue" class="btn btn-lg btn-success pull-left">
              <span i18n="continue"></span>
              <i class="fa fa-arrow-right"></i>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>