<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Facilities</h4>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="facility in facilities">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ facility.name }}</td>
                        <td>{{ facility_types[facility.facility_type].name }}</td>
                        <td>{{ getUser(facility.created_by) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--pre>
    {{ facility_types | json }}
</pre-->