<div lmis-page-view-report="facilities_index" class="row">
    <div class="col-lg-3 col-md-6">
        <a href="#/facilities/facility_types" lmis-analytics-directive="facility_types">
            <div class="box_stat box_ico">
                <span class="stat_ico stat_ico_1"><i class="fa fa-list"></i></span>
                <h4>Facility Types</h4>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Facilities</h4>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="facility in facilities">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ facility.name }}</td>
                        <td>{{ facility_types[facility.facility_type].name }}</td>
                        <td>{{ users[facility.created_by].username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--pre>
    {{ facility_types | json }}
</pre-->
