<!doctype html>
<html ng-app="lmisChromeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nigeria LMIS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="Ebro/css/style.css">
    <link rel="stylesheet" href="Ebro/css/theme/color_1.css" id="theme">
    <link rel="stylesheet" href="Ebro/css/font-awesome/css/font-awesome.min.css">
    <link href="Ebro/css/linecons/style.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>
<div id="wrapper_all">
    <header id="top_header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <a ng-href="#/home" class="logo_main" title="LMIS"><img src="images/logo_main.png" alt=""></a>
                </div>
                <div class="col-sm-push-4 col-sm-3 text-right">
                    <div class="notification_dropdown dropdown">
                        <a class="notification_icon dropdown-toggle" data-toggle="dropdown">
                            <!--span class="label label-danger">12</span-->
                            <i class="icon-envelope-alt icon-2x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-wide">
                            <li>
                                <div class="dropdown_heading">Messages</div>
                                <div class="dropdown_content">
                                    <!--ul class="dropdown_items">
                                        <li>
                                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            <p class="large_info">Sean Walter, 24.05.2014</p>
                                            <i class="icon-exclamation-sign indicator"></i>
                                        </li>
                                        <li>
                                            <h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aliquam assumenda&hellip;</p>
                                            <p class="large_info">Sean Walter, 24.05.2014</p>
                                        </li>
                                        <li>
                                            <h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur&hellip;</p>
                                            <p class="large_info">Sean Walter, 24.05.2014</p>
                                            <i class="icon-exclamation-sign indicator"></i>
                                        </li>
                                    </ul-->
                                </div>
                                <div class="dropdown_footer">
                                    <a href="#" class="btn btn-sm btn-default">Show all</a>
                                    <div class="pull-right dropdown_actions">
                                        <a href="#"><i class="icon-refresh"></i></a>
                                        <a href="#"><i class="icon-cog"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="notification_separator"></div>
                    <div class="notification_dropdown">
                        <span class="label label-success" ng-show="online">online</span>
                        <span class="label label-danger" ng-hide="online">offline</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav id="top_navigation">
        <div class="container">
            <ul id="icon_nav_h" class="top_ico_nav clearfix">
                <li data-match-route="/(:?home)">
                    <a ng-href="#/home" title="Home">
                        <i class="icon-home icon-2x"></i>
                        <span class="menu_label">Home</span>
                    </a>
                </li>
                <li data-match-route="/orders">
                    <a href="#/orders/index" title="Orders">
                        <i class="icon-edit icon-2x"></i>
                        <span class="menu_label">Orders</span>
                    </a>
                </li>
                <li data-match-route="/inventory">
                    <a href="#/inventory/index" title="Inventory">
                        <i class="icon-trello icon-2x"></i>
                        <span class="menu_label">Inventory</span>
                    </a>
                </li>
                <li data-match-route="/deliveries">
                    <a href="#/deliveries/index" title="Deliveries">
                        <i class="icon-truck icon-2x"></i>
                        <span class="menu_label">Deliveries</span>
                    </a>
                </li>
                <li data-match-route="/reports">
                    <a href="#/reports" title="Reports">
                        <i class="icon-list-alt icon-2x"></i>
                        <span class="menu_label">Reports</span>
                    </a>
                </li>
                <li>
                    <a href="#/forecast" title="Forecast">
                        <i class="icon-book icon-2x"></i>
                        <span class="menu_label">Forecast</span>
                    </a>
                </li>
                <li data-match-route="/facilites">
                    <a href="#/facilities/index" title="Facilities">
                        <i class="icon-tags icon-2x"></i>
                        <span class="menu_label">Facilities</span>
                    </a>
                </li>
                <li data-match-route="/partners">
                    <a ng-href="#/partners" title="Partners">
                        <i class="icon-group icon-2x"></i>
                        <span class="menu_label">Partners</span>
                    </a>
                </li>
                <li>
                    <a href="#/main/help" title="Help">
                        <i class="icon-book icon-2x"></i>
                        <span class="menu_label">Help</span>
                    </a>
                </li>
                <li data-match-route="/settings">
                    <a href="#/settings" title="Settings">
                        <i class="icon-wrench icon-2x"></i>
                        <span class="menu_label">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

   <!-- <section id="breadcrumbs" ng-if="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#/home"><i class="icon-home"></i></a></li>
                <li ng-repeat="breadcrumb in breadcrumbs">
                    <a ng-if="breadcrumb.link != ''" href="{{ breadcrumb.link }}"> {{ breadcrumb.name }}</a>
                    <span ng-if="breadcrumb.link == ''" > {{ breadcrumb.name }}</span>
                </li>
            </ul>
        </div>

    </section> -->
    <section class="container clearfix main_section">
        <div id="main_content_outer" class="clearfix">
            <alert ng-cloak ng-repeat="alert in messages" type="alert.type" close="closeAlert($index)">{{alert.message}}</alert>
            <div id="main_content" ng-view="">
                <!-- main content -->
            </div>
        </div>
    </section>
    <div id="footer_space"></div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                &copy; 2013 eHealth Systems Africa Foundation
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Terms of Service</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-1 text-right">
                <small class="text-muted">v0.1 alpha</small>
            </div>
        </div>
    </div>
</footer>
    <!-- build:js scripts/vendor.js -->
    <!-- Manual reference to prevent CSP error, see #110 -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-table/ng-table.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="Ebro/js/ebro_common.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/directives/nav.js"></script>
    <script src="scripts/services/storageprovider.js"></script>
    <script src="scripts/services/settingsfactory.js"></script>
    <script src="scripts/services/syncservice.js"></script>
    <script src="scripts/services/utility.js"></script>
    <script src="scripts/services/visualmarkerservice.js"></script>
    <script src="scripts/controllers/orders.js"></script>
    <script src="scripts/controllers/inventory.js"></script>
    <script src="scripts/controllers/facilities.js"></script>
    <script src="scripts/controllers/cce.js"></script>
    <!-- endbuild -->
</body>
</html>
