<accordion close-others="true">

  <accordion-group>
    <accordion-heading>
      <i class="fa  fa-suitcase"></i>
      <span class="text-titlecase" ng-bind="i18n('product')"></span>
    </accordion-heading>
    <ul>
      <li><a ui-sref="batchListView" ng-bind="i18n('viewBatch')"></a></li>
      <li><a ui-sref="productTypeListView" ng-bind="i18n('viewProductTypes')"></a></li>
      <li><a href="">Manage unit of measurement</a></li>
      <li><a ui-sref="addBatchView">Add batch</a></li>
    </ul>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i class="fa fa-chevron-down"></i>
      <span ng-bind="i18n('incoming')"></span>
    </accordion-heading>
    <ul>
      <li><a ui-sref="incomingLog" ng-bind="i18n('incomingLog')"></a></li>
      <li>
        <a ui-sref="home.index.controlPanel.orderType"
          ng-bind="i18n('incomingPlace')"></a>
      </li>
      <li><a href="" ng-bind="i18n('incomingModify')"></a></li>
      <li><a href="" ng-bind="i18n('incomingTrackPending')"></a></li>
      <li><a href="" ng-bind="i18n('incomingTrackIncoming')"></a></li>
      <li><a href="#/orders/index" ng-bind="i18n('incomingOrders')"></a></li>
    </ul>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i class="fa fa-chevron-up"></i> Outgoing
    </accordion-heading>
    <ul>
      <li><a href="">Process an order</a></li>
      <li><a href="">Return a shipment</a></li>
      <li><a href="">Calculate routes</a></li>
      <li><a href="">Track pending shipments</a></li>
      <li><a href="">Track outgoing shipments</a></li>
      <li><a href="#/deliveries/index">View delivered shipments</a></li>
    </ul>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i class="fa fa-list"></i> Inventory
    </accordion-heading>
    <ul>
      <li><a ui-sref="inventoryListView" ng-bind="i18n('manageInventory')"></a></li>
      <li><a href="">View forecasts</a></li>
      <li><a href="">Track performance</a></li>
      <li><a class="pointer" ui-sref="stock_count_index">View Stock Count</a></li>
      <li><a href="">View sub-facility inventories</a></li>
      <li><a href="">View sub-facility forecasts</a></li>
      <li><a href="">View sub-facility reports</a></li>
    </ul>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i class="fa fa-th-large"></i> Facilities
    </accordion-heading>
    <ul>
      <li><a ui-sref="storageUnitsView">Manage storage units</a></li>
      <li><a href="">Manage fleet</a></li>
      <li><a href="">View sub-facility maps</a></li>
      <li><a ui-sref="storageUnitsView">View sub-facility storage units' status</a></li>
    </ul>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i class="fa fa-pencil"></i> Reports
    </accordion-heading>
    <ul>
      <li><a href="">Start daily stock count</a></li>
      <li><a href="">Generate supply plan</a></li>
      <li><a href="">Generate CCE report</a></li>
      <li><a href="">Generate fleet report</a></li>
      <li><a href="">Generate inventory report</a></li>
      <li><a href="">Start monthly report</a></li>
      <li><a href="">Start quarterly report</a></li>
      <li><a href="">Review complete reports</a></li>
    </ul>
  </accordion-group>

</accordion>

<ui-view />
