<accordion>
  <accordion-group is-open="true">
    <accordion-heading>
      <span><i class="fa fa-user"></i></span>
      <span>Activities</span>
    </accordion-heading>
    <div class="btn-group btn-group-sm">

      <a ui-sref="stockCountStepForm" class="btn btn-default">
        <img src="images/dashboard-icons/add_stock_count.png" class="img-rounded">
        <span i18n="addStockCount"></span>
      </a>

      <a ui-sref="syncStockCount.detail" class="btn btn-default">
        <span>
          <i class="fa fa-cloud fa-5-3x"></i>
        </span>
        <span i18n="syncStockCount"></span>
      </a>

      <a ui-sref="editAppConfig" class="btn btn-default">
        <img src="images/dashboard-icons/app-config.png" class="img-rounded">
        <span>App Config</span>
      </a>

    </div>
  </accordion-group>

  <accordion-group>
   <accordion-heading>
      <span><i class="fa fa-tasks"></i></span>
      <span>More</span>
    </accordion-heading>
    <div class="btn-group btn-group-sm">
      <a ui-sref="counterSamples" class="btn btn-default">
        <img src="images/dashboard-icons/counter-samples.png" class="img-rounded">
        <span i18n="counterSample"></span>
      </a>

      <a ui-sref="clearStorage" class="btn btn-default">
        <span>
          <i class="fa fa-exclamation-triangle fa-5-3x alert-danger"></i>
        </span>
        <span i18n="clearStorage"></span>
      </a>
    </div>
  </accordion-group>

</accordion>

<ui-view />
