<div>
  <ul class="nav nav-tabs">
    <li ui-sref-active="active">
      <a ui-sref="home.index.mainActivity">Main User Activities</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="home.index.controlPanel" translate="controlPanel"></a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="home.index.dashboard" translate="dashboard"></a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="home.index.settings" translate="settings"></a>
    </li>
  </ul>
</div>

<ui-view />
