<div lmis-page-view-report="counter_counter-sample" class="row">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <label>drop down counter</label>
      <counterdropdown bind="dropDownCounter"></counterdropdown>
    </div>

    <div class="col-sm-4">
      <label>text input counter</label>
      <countertext bind="textInputCounter"></countertext>
    </div>

    <div class="col-sm-4">
      <label>number input counter</label>
      <counter bind="numberInputCounter"></counter>
    </div>
  </div>
</div>