<div class="row">
  <div class="btn-group col-sm-2">
    <a ga-click="add_product_type" ui-sref="addProductTypeView" class="btn btn-default">
      <span><i class="fa fa-plus"></i></span>
      <span i18n="addProductType"></span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div ng-include="'views/partials/search.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title text-titlecase">
          <span><i class="fa fa-list"></i></span>
          <span i18n="productTypes"></span></i>
        </h4>
      </div>
      <div class="scrollable-container">
        <table ng-table="productTypes" show-filter="true"
               class="table table-condensed table-striped table-bordered table-hover oversize-table">
          <tr ng-repeat="productType in $data | filter:search">
            <td data-title="'#'">{{ $index + 1 }}</td>
            <td data-title="'Name'" sortable="'name'" filter="{'name': 'text'}" ng-bind="productType.name"></td>
            <td data-title="'Code'" sortable="'code'" filter="{'code': 'text'}" ng-bind="productType.code"></td>
            <td data-title="'Base UOM'" sortable="'base_uom.name'" ng-bind="(productType.base_uom).name"></td>
            <td data-title="'Description'" ng-bind="productType.description"></td>
            <td data-title="'Active'" class="text-center" sortable="'active'">
              <span ng-if="productType.active"><i class="fa fa-check-circle green-icon"></i></span>
              <span ng-if="!productType.active"><i class="fa fa-times-circle red-icon"></i></span>
            </td>
            <td data-title="'Last Modified'" sortable="'modified'">{{ productType.modified | date:'yyyy-MM-dd h:mma'}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
