<div class="row">
    <ul class="breadcrumb">
        <li><a href="#/main/"><i class="icon-home"> Home</i></a></li>
        <li class="active">Order</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <a href="#/orders/purchase_order">
            <div class="box_stat box_ico">
                <span class="stat_ico stat_ico_1"><i class="li_vallet"></i></span>
                <h4> Purchase Order</h4>

            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="box_stat box_ico">
            <span class="stat_ico stat_ico_2"><i class="li_user"></i></span>
            <h4>Sales Order</h4>

        </div>
    </div>
    <!--div class="col-lg-3 col-md-6">
        <div class="box_stat box_ico">
            <span class="stat_ico stat_ico_3"><i class="li_banknote"></i></span>
            <h4></h4>
            <small>Sale (June)</small>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="box_stat box_ico">
            <span class="stat_ico stat_ico_4"><i class="li_truck"></i></span>
            <h4>135</h4>
            <small>Orders (24h)</small>
        </div>
    </div-->
</div>