
<div class="row" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Item</th>
                <th>Qty</th>
                <th>Supplier</th>
                <th>Expected Date</th>
                <th>Order Status</th>
                <th>Action</th>
                <th>Synced ?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order_row in purchase_order_list">
                <td>{{ $index + 1 }}</td>
                <td>{{ order_row.uuid }}</td>
                <td>{{ order_row.item_name }}</td>
                <td>{{ order_row.qty }}</td>
                <td>{{ order_row.suppliers }}</td>
                <td>{{ order_row.expected_date }}</td>
                <td>
                    <span ng-show="order_row.order_status">Approved</span>
                    <span ng-hide="order_row.order_status">Pending</span>
                </td>
                <td>
                    <a href="/order/edit/{{ order_row.uuid }}"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="/order/delete/{{ order_row.uuid }}"><i class="fa fa-times-circle"></i></a>
                </td>
                <td>
                    <span ng-show="order_row.synced"><i class="fa fa-ok"></i></span>
                    <span ng-hide="order_row.synced"><i class="fa fa-remove"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
