<div class="row" >
    <div class="col-sm-12">
        <form novalidate="novalidate" ng-submit="save()">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="product">Product</label>
                    <select  name="product" id="product" class="form-control" ng-model="purchase_order.product">
                        <option value="">Select Product</option>
                        <option value="OPV">OPV</option>
                        <option value="BCG">BCG</option>
                        <option value="Tetanus">Tetanus</option>
                        <option value="Malaria">Malaria</option>
                        <option value="Yellow Fever">Yellow Fever</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity_needed">Quantity Needed</label>
                    <input type="text" name="quantity_needed" id="quantity_needed" class="form-control" ng-model="purchase_order.quantity_needed" />
                </div>
                <div class="form-group">
                    <label for="current_quantity">Current Quantity</label>
                    <input type="text" name="current_quantity" id="current_quantity" class="form-control" ng-model="purchase_order.current_quantity" />
                </div>
                <div class="form-group">
                    <label for="purchaser">Requesting Facility</label>
                    <select name="purchaser" id="purchaser" class="form-control" ng-model="purchase_order.purchaser">
                        <option value=""></option>
                        <option value="Balare BHC">Balare BHC</option>
                        <option value="Ajingi BHC">Ajingi BHC</option>
                        <option value="Sheik Jidda">Sheik Jidda</option>
                        <option value="Indabo">Indabo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="purchaser">Supplier</label>
                    <select name="supplier" id="supplier" class="form-control" ng-model="purchase_order.supplier">
                        <option value=""></option>
                        <option value="Balare BHC">Balare BHC</option>
                        <option value="Ajingi BHC">Ajingi BHC</option>
                        <option value="Sheik Jidda">Sheik Jidda</option>
                        <option value="Indabo">Indabo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="expected_date">Expected Date</label>
                    <p class="input-group">
                        <input id="expected_date" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="purchase_order.expected_date" is-open="opened" min="minDate" max="'2023-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class=""></div>
            </div>
        </form>
    </div>
</div>