<div class="row">
    <div class="col-sm-3">
        <a href="#/orders/purchase_order_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Request Purchase Order</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Quantity Needed</th>
                    <th>Current Quantity</th>
                    <th>Requesting Facility</th>
                    <th>Supplier</th>
                    <th>Emergency</th>
                    <th>Order Date</th>
                    <th>Expected Date</th>
                    <th>Expected Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchase_order in purchase_orders">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ purchase_order.product }}</td>
                    <td>{{ purchase_order.quantity_needed }}</td>
                    <td>{{ purchase_order.current_quantity }}</td>
                    <td>{{ purchase_order.purchaser }}</td>
                    <td>{{ purchase_order.supplier }}</td>
                    <td>{{ purchase_order.emergency }}</td>
                    <td>{{ purchase_order.order_date }}</td>
                    <td>{{ purchase_order.expected_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
