<div class="form-group">
  <label class="col-md-4 control-label" for="productCategory" ng-bind="i18n('productCategory')"></label>
  <div class="col-md-4">
    <select name="productCategory" class="form-control"
      ng-model="product.category">
      <option value="{{category.uuid}}" ng-bind="category.name"
        ng-repeat="category in storage.categories"></option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="productProfile" ng-bind="i18n('productProfile')"></label>
  <div class="col-md-4">
    <select name="productProfile" class="form-control" ng-model="product.profile"
      ng-disabled="!product.category">
      <option value="profile.uuid" ng-bind="profile.name"
        ng-repeat="profile in storage.profiles | filter:{category: product.category}"></option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="quantity" ng-bind="i18n('quantity')"></label>
  <div class="col-md-4">
    <input name="quantity" type="number" min="1" class="form-control input-md" required ng-model="product.quantity">
    <span class="help-block" ng-bind="i18n('numberOfDoses')"></span>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="program" ng-bind="i18n('program')"></label>
  <div class="col-md-4">
    <select name="program" class="form-control" ng-model="product.program">
      <option value="ri" ng-bind="i18n('routineImmunization')"></option>
      <option value="sia" ng-bind="i18n('supplementalImmunizationActivity')"></option>
    </select>
  </div>
</div>
