<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Session Type</th>
      <th>Done</th>
      <th>Synced</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="summary in summaryRecords" ng-click="summaryDetail($index)">
      <td>{{ summary.date | date: 'dd MMM yyyy' }}</td>
      <td>{{ summary.sessionType }}</td>
      <td class="text-center">
        <i class="fa" ng-class="{'fa-times-circle text-danger': !summary.isComplete, 'fa-check-circle text-success': summary.isComplete}"></i>
      </td>
      <td class="text-center">
        <i class="fa" ng-class="{'fa-times-circle text-danger': !summary.synced, 'fa-check-circle text-success': summary.synced}"></i>
      </td>
    </tr>
  </tbody>
</table>
