<div class="row">
  <div class="col-xs-12">


    <div class="pb10 text-center">
      <h1>{{ facilityProducts[facilityProductsUUIDs[viewControl.step]].name }}</h1>
    </div>

    <div class="mb10">
      <div class="row">
        <div class="col-xs-4">
          <label class="form-label" i18n="balance"></label>
        </div>
        <div class="col-xs-8">
          <input class="form-control"
                 ng-blur="updateRecords('balance')"
                 type="number"
                 ng-model="utilization.products[facilityProductsUUIDs[viewControl.step]].balance">
          <div ng-if="viewControl.validationError[viewControl.step].balance.length" class="text-center text-danger">
            {{ viewControl.validationError[viewControl.step].balance }}

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" ng-click="confirmBalance('cancel')">Cancel</button>
              </div>
              <div class="btn-group pl5" role="group" ng-if="viewControl.step !== viewControl.max">
                <button type="button" class="btn btn-success" ng-click="confirmBalance('confirm')">Confirm</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="mb10">
      <div class="row">
        <div class="col-xs-4">
          <label class="form-label" i18n="received"></label>
        </div>
        <div class="col-xs-8">
          <input class="form-control"
                 type="number"
                 ng-blur="updateRecords('received')"
                 ng-model="utilization.products[facilityProductsUUIDs[viewControl.step]].received">
          <div ng-if="viewControl.validationError[viewControl.step].received.length" class="text-center text-danger">
            {{ viewControl.validationError[viewControl.step].received }}
          </div>

        </div>
      </div>
    </div>

    <div class="mb10">
      <div class="row">
        <div class="col-xs-4">
          <label class="form-label" i18n="used"></label>
        </div>
        <div class="col-xs-8">
          <input class="form-control"
                 type="number"
                 ng-blur="updateRecords('used')"
                 ng-model="utilization.products[facilityProductsUUIDs[viewControl.step]].used">
          <div ng-if="viewControl.validationError[viewControl.step].used.length" class="text-center text-danger">
            {{ viewControl.validationError[viewControl.step].used }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb10">
      <div class="row">
        <div class="col-xs-4">
          <label class="form-label" i18n="endingBalance"></label>
        </div>
        <div class="col-xs-8">
          <input class="form-control"
                 ng-blur="updateRecords('endingBalance')"
                 type="number"
                 ng-model="utilization.products[facilityProductsUUIDs[viewControl.step]].endingBalance">
          <div ng-if="viewControl.validationError[viewControl.step].endingBalance.length" class="text-center text-danger">
            {{ viewControl.validationError[viewControl.step].endingBalance }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb10">
      <div class="row">
        <div class="col-xs-4">
          <label class="form-label" i18n="returned"></label>
        </div>
        <div class="col-xs-8">
          <input class="form-control"
                 ng-blur="updateRecords('returned')"
                 type="number"
                 ng-model="utilization.products[facilityProductsUUIDs[viewControl.step]].returned">
          <div ng-if="viewControl.validationError[viewControl.step].returned.length" class="text-center text-danger">
            {{ viewControl.validationError[viewControl.step].returned }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="mb10">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="changeStep('prev')">Previous</button>
            </div>
            <div class="btn-group pl5" role="group" ng-if="viewControl.step !== viewControl.max">
              <button type="button" class="btn btn-default" ng-click="changeStep('next')">Next</button>
            </div>
            <div class="btn-group pl5" role="group" ng-if="viewControl.step === viewControl.max">
              <button type="button" class="btn btn-warning" ng-click="showPreview()">Preview</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="(utilization.isComplete || viewControl.endOfList) && viewControl.step < viewControl.max ">
      <div class="col-xs-12">
        <div class="mb10">
          <button class="btn btn-warning btn-block" ng-click="showPreview()">Preview</button>
        </div>
      </div>
    </div>
  </div>
</div>
