<div lmis-page-view-report="stockcount_sync_stats" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" i18n="stockCount"></h3>
  </div>
  <div class="panel-body">
    <span i18n="records"></span>
    <dl class="dl-horizontal">
      <dt i18n="local"></dt>
      <dd ng-bind="local.doc_count"></dd>
      <dt i18n="remote"></dt>
      <dd>
        <span
          ng-show="!remoteSyncing"
          ng-bind="remote.doc_count">
        </span>
        <span ng-show="remoteSyncing">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </dd>
    </dl>

    <button
      class="btn btn-default pull-right"
      ng-click="sync()">
      <i
        class="fa fa-refresh"
        ng-class="{'fa-spin': syncing}">
      </i>
      <span i18n="sync"></span>
    </button>

  </div>
</div>
