<div class="row" ng-controller="AddProblemLogCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add CCE Problem Log</h4>
      </div>

      <div class="panel-body">

        <!-- used to show form submission error or success message -->
        <div class="row" id="messages" ng-show="message">
          <div class="col-sm-12">
            <span>{{ message }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <form ng-submit="save()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cce">Cold Chain Equipment</label>
                    <select id="cce" class="form-control" ng-model="problemLog.cce" required>
                      <option value="">-- select cold chain equipemnt --</option>
                      <option ng-repeat="cce in cceList" value="{{ cce.uuid }}">
                        {{ cce.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="problemDescription">Problem Description</label>
                    <input class="form-control" type="text" name="problemDescription" id="problemDescription"
                           ng-model="problemLog.description" placeholder="e.g Cold store compressor breakdown" required>
                  </div>

                  <div class="form-group">
                    <label for="problemStartDate">Problem Start Date Time</label>
                    <input ng-model="problemLog.start_date_time" type="datetime-local" name="problemStartDate"
                           id="problemStartDate" required/>
                  </div>

                  <div class="form-group">
                    <label for="problemFixedDate">Problem Fixed Date Time</label>
                    <input ng-model="problemLog.fixed_date_time" type="datetime-local" name="problemFixedDate"
                           id="problemFixedDate"/>
                  </div>

                  <div class="form-group">
                    <label for="problemRepairCost">Repair Cost</label>
                    <input type="number" ng-model="problemLog.cost" name="problemRepairCost" id="problemRepairCost"
                           step="any" placeholder="e.g 2500"/>
                  </div>

                  <div class="form-group">
                    <label for="priceCurrency">Repair Cost Currency</label>
                    <select id="priceCurrency" class="form-control" ng-model="problemLog.cost_currency" required>
                      <option value="">-- select repair cost currency --</option>
                      <option ng-repeat="currency in currencies" value="{{ currency.uuid }}">
                        {{ currency.name }}
                      </option>
                    </select>
                  </div>

                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
