<div class="row">
  <div class="btn-group col-sm-2">
   <a href="#/cce/cce_form" class="btn btn-default">
     <span><i class="fa fa-plus-circle"></i></span>
     <span>Add Storage Unit</span>
   </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div ng-include="'views/partials/search.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div ng-include="'views/storage-units/partials/status-indicators.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" ng-bind="i18n('storageUnit')"></h4>
      </div>
      <div class="scrollable-container">
        <table ng-table="storageUnits" class="table table-condensed table-bordered table-striped oversize-table">
          <tr ng-repeat="storageUnit in $data | filter:query" ng-class="'center-text'">
            <td data-title="'#'" ng-bind="($index + 1)"></td>
            <td data-title="'Code'" sortable="'code'" ng-bind="storageUnit.code"></td>
            <td data-title="'Status'" sortable="'status'">
              <span ng-if="storageUnit.status == STORAGE_STATUS.WORKING"><i class="fa fa-check-circle green-icon"></i></span>
              <span ng-if="storageUnit.status == STORAGE_STATUS.NOT_WORKING"><i class="fa fa-times-circle red-icon"></i></span>
              <span ng-if="storageUnit.status == STORAGE_STATUS.IN_REPAIR"><i class="fa fa-times-circle warning-alert"></i></span>
              <span ng-if="storageUnit.status == STORAGE_STATUS.NEEDS_REVIEW"><i class="fa fa-times-circle needs-review"></i></span>
            </td>
            <td data-title="'Problem Log'">
              <a href ng-href="">Problem Log</a>
            </td>
            <td data-title="'Temperature Log'">
              <a href ng-href="">Temperature Log</a>
            </td>
            <td data-title="'Net Capacity'" sortable="'net_capacity'"
                ng-bind="getCapacityDetails(storageUnit.net_capacity, storageUnit.capacity_uom)">
            </td>
            <td data-title="'Gross Capacity'" sortable="'gross_capacity'"
                ng-bind="getCapacityDetails(storageUnit.gross_capacity, storageUnit.capacity_uom)">
            </td>
            <td data-title="'Facility'" sortable="'facility.name'" ng-bind="(storageUnit.facility).name">
            </td>
            <td data-title="'Name'" sortable="'name'" ng-bind="storageUnit.name"></td>
            <td data-title="'Parent Storage Unit'" sortable="'parent'">
              <span ng-if="storageUnit.parent">{{ storageUnit.parent }}</span>
              <span ng-if="!storageUnit.parent">N/A</span>
            </td>
            <td data-title="'Type'" sortable="'type.name'" ng-bind="(storageUnit.type).name"></td>
            <td data-title="'Temperature Range'">
              <span ng-bind="storageUnit.minimum_temperature "></span>
              <span><i class="fa fa-arrows-h"></i></span>
              <span ng-bind="storageUnit.maximum_temperature"></span>
              <span ng-bind="(storageUnit.temperature_uom).symbol"></span>
            </td>
            <td data-title="'Is Cold Store'" sortable="'is_cold_store'">
              <span ng-if="storageUnit.is_cold_store"><i class="fa fa-check-circle green-icon"></i></span>
              <span ng-if="!storageUnit.is_cold_store"><i class="fa fa-times-circle red-icon"></i></span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
