<div lmis-page-view-report="stock-out-broadcast_stock-out-broadcast" class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" i18n="stockOutBroadcast"></h4>
      </div>
      <div class="panel-body">
        <form name="stockOutBroadcastForm" ng-submit="stockOutBroadcastForm.$valid && save()" novalidate>
          <fieldset>
            <div class="row">
              <div class="col-sm-12">

                <div class="col-sm-6 center-block">

                  <div class="form-group" ng-class="{ 'has-error': ((stockOutBroadcastForm.productType).$error).required
                      && stockOutForm.isSubmitted }">
                    <label for="productType" i18n="selectProductType"></label>
                    <select lmis-analytics-directive="product_type_select" id="productType" name="productType" class="form-control" ng-model="stockOutForm.productType"
                            required>
                      <option value="" i18n="selectProductType"></option>
                      <option ng-repeat="productType in productTypes" value="{{ productType }}" required>
                        {{ productType.code }} - {{ productType.name }}
                      </option>
                    </select>
                  <span class="alert-danger form-control" ng-show="((stockOutBroadcastForm.productType).$error).required
                      && stockOutForm.isSubmitted" i18n="selectProductType"></span>
                  </div>
                  <div class="row">
                    <div class="panel-body"></div>
                    <div class="col-md-4 center-block">
                      <button lmis-analytics-directive="stock_out_submit" type="submit" id="send" name="send" class="btn btn-lg btn-danger"
                              ng-click="stockOutForm.isSubmitted = true" ng-disabled="isSaving">
                        <span ng-show="!isSaving" i18n="send"></span>
                        <span ng-show="!isSaving"><i class="fa fa-bullhorn"></i></span>
                        <span ng-show="isSaving" i18n="sending"></span>
                        <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>