<div ng-repeat="product in products">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" ng-bind="product.label"></h3>
      </div>
      <div class="panel-body">

        <dl class="dl-horizontal">
          <dt i18n="actual"></dt>
          <dd>-1</dd>
        </dl>

        <h4 i18n="inventoryRules"></h4>
        <dl class="dl-horizontal">
          <dt i18n="setServiceLevel"></dt>
          <dd ng-bind="product.serviceLevel"></dd>
          <dt i18n="setMaximumLevel"></dt>
          <dd ng-bind="product._max"></dd>
        </dl>

        <h4 i18n="inventoryPerformance"></h4>
        <dl class="dl-horizontal">
          <dt i18n="leadTimeConsumption"></dt>
          <dd>-1</dd>
          <dt i18n="bufferStock"></dt>
          <dd ng-bind="product.buffer"></dd>
          <dt i18n="reorderPoint"></dt>
          <dd>-1</dd>
          <dt i18n="discrepancyThreshold"></dt>
          <dd>-1</dd>
        </dl>

      </div>
    </div>
  </div>
</div>
