<div ng-repeat="product in products">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" ng-bind="product.label"></h3>
      </div>
      <div class="panel-body">

        <dl class="dl-horizontal">
          <dt translate="actual"></dt>
          <dd>-1</dd>
        </dl>

        <h4 translate="inventoryRules"></h4>
        <dl class="dl-horizontal">
          <dt translate="setServiceLevel"></dt>
          <dd ng-bind="product.serviceLevel"></dd>
          <dt translate="setMaximumLevel"></dt>
          <dd ng-bind="product._max"></dd>
        </dl>

        <h4 translate="inventoryPerformance"></h4>
        <dl class="dl-horizontal">
          <dt translate="leadTimeConsumption"></dt>
          <dd>-1</dd>
          <dt translate="bufferStock"></dt>
          <dd ng-bind="product.buffer"></dd>
          <dt translate="reorderPoint"></dt>
          <dd>-1</dd>
          <dt translate="discrepancyThreshold"></dt>
          <dd>-1</dd>
        </dl>

      </div>
    </div>
  </div>
</div>
