<div class="row">
  <ul class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/cce/index">CCE</a></li>
    <li class="active">CCE Problem Log</li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="btn-group col-sm-2">
      <a href="#/cce/problem_log_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Problem Log</a>
    </div>

    <div class="form-group col-sm-5">
      <input ng-model="query" id="query" size="55" placeholder="Search"/>
        <i class="glyphicon glyphicon-search"></i>
    </div>

  </div>
</div>

<div class="row" ng-controller="cceProblemLogMainCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Problem Log</h4>
      </div>
      <div class="scrollable-container">
        <table ng-table="cceProblems" class="table table-striped table-condensed table-bordered oversize-table">
          <tr ng-repeat="cceProblem in $data | filter:query" ng-class="'center-text'">
            <td data-title="'#'">{{ $index + 1 }}</td>
            <td data-title="'CCE Name'" sortable="'storage_location'">{{ cceList[cceProblem.storage_location].name }}
            </td>
            <td data-title="'Problem Description'" sortable="'description'">{{ cceProblem.description }}</td>
            <td data-title="'Start Date'" sortable="'start_date_time'">
              {{ cceProblem.start_date_time | date:'yyyy-MM-dd h:mma'}}
            </td>
            <td data-title="'Fixed Date'" sortable="'fixed_date_time'">{{ cceProblem.fixed_date_time | date:'yyyy-MM-dd
              h:mma'}}
            </td>
            <td data-title="'Repair Cost'" sortable="'cost'">
              {{ currency[cceProblem.cost_currency].symbol +' '+ (cceProblem.cost | number:2) }}
            </td>
            <td data-title="'CCE Facility'">
              {{ facilities[cceList[cceProblem.storage_location].facility].name }}
            </td>
            <td data-title="'Created Date'" sortable="'created'">{{ cceProblem.created | date:'yyyy-MM-dd h:mma' }}</td>
            <td data-title="'Last Modified'" sortable="'modified'">{{ cceProblem.modified | date:'yyyy-MM-dd h:mma' }}
            </td>
            <td data-title="'Created By'">{{ getUser(cceProblem) }}</td>
            <td data-title="'Last Modified By'">{{ users[cceProblem.modified_by].username }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>