<div class="row">
    <ul class="breadcrumb">
        <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
        <li><a href="#/cce/index">CCE</a></li>
        <li class="active">CCE Problem Log</li>
    </ul>
</div>

<div class="row" ng-controller="cceProblemLogMainCtrl">

    <div class="col-sm-12">
        <div class="btn-group">
            <a href="#/cce/cce_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add CCE</a>
            <a href="#/cce/problem_log_form" class="btn btn-default"><i class="icon-plus-sign"></i> Add Problem Log</a>
        </div>
    </div>

    <div class="col-sm-12">
        <br/>
        <div>
            <input ng-model="query" id="query" class="form_control" size="55" placeholder="search"/>
            <i class="glyphicon glyphicon-search"></i>
        </div>
         <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Problem Log</h4>
            </div>
            <div class="scrollable-container">
                <table  class="table table-striped table-condensed table-bordered oversize-table">
                    <thead>
                        <tr>
                            <th ng-class="'center-text'">#</th>
                            <th ng-class="'center-text'">CCE Name</th>
                            <th ng-class="'center-text'">Description</th>
                            <th ng-class="'center-text'">Start Date</th>
                            <th ng-class="'center-text'">Fixed Date</th>
                            <th ng-class="'center-text'">Cost</th>
                            <th ng-class="'center-text">CCE Facility</th>
                            <th ng-class="'center-text'">Created Date</th>
                            <th ng-class="'center-text'">Last Modified</th>
                            <th ng-class="'center-text'">Created By</th>
                            <th ng-class="'center-text'">Last Modified By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cceProblem in cceProblems | filter:query" ng-class="'center-text'">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ cceList[cceProblem.storage_location].name }}</td>
                            <td>{{ cceProblem.description }}</td>
                            <td>{{ cceProblem.start_date_time | date:'yyyy-MM-dd h:mma'}}</td>
                            <td>{{ cceProblem.fixed_date_time | date:'yyyy-MM-dd h:mma'}}</td>
                            <td>{{  currency[cceProblem.cost_currency].symbol +' '+ (cceProblem.cost | number:2) }}</td>
                            <td>{{ facilities[cceList[cceProblem.storage_location].facility].name }}</td>
                            <td>{{ cceProblem.created  | date:'yyyy-MM-dd h:mma' }}</td>
                            <td>{{ cceProblem.modified | date:'yyyy-MM-dd h:mma' }}</td>
                            <td>{{ getUser(cceProblem) }}</td>
                            <td>{{ users[cceProblem.modified_by].username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>