<div class="row">
  <ul class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/cce/index">CCE</a></li>
    <li class="active">CCE Temperature</li>
  </ul>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <a href="#/cce/temperature_chart">
      <div class="box_stat box_ico">
        <span class="stat_ico stat_ico_1"><i class="li_vallet"></i></span>
        <h4>Temperature Chart</h4>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="btn-group col-sm-2">
      <a href="#/cce/temperature_log_form" class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Temperature Log</a>
    </div>

    <div class="form-group col-sm-5">
      <input ng-model="query" id="query" size="55" placeholder="Search"/>
        <i class="fa fa-search"></i>
    </div>

  </div>
</div>

<div class="row" ng-controller="cceTemperatureLogMainCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Temperature Log</h4>
      </div>
      <div class="scrollable-container">
        <table ng-table="temperatureLogs" class="table table-striped table-condensed table-bordered oversize-table">
          <tr ng-repeat="cceTemperatureLog in $data | filter:query" ng-class="'center-text'">
            <td data-title="'#'">{{ $index + 1 }}</td>
            <td data-title="'CCE Name'">
              {{ cceList[cceTemperatureLog.storage_location].name }}
            </td>
            <td data-title="'Temperature'" sortable="'temperature'">
              {{ cceTemperatureLog.temperature +' '+uomList[cceTemperatureLog.temperature_uom].symbol }}
            </td>
            <td data-title="'Date Time Logged'" sortable="'date_time_logged'">
              {{ cceTemperatureLog.date_time_logged | date:'yyyy-MM-dd h:mma' }}
            </td>
            <td data-title="'Created Date'" sortable="'created'">
              {{ cceTemperatureLog.created | date:'yyyy-MM-dd h:mma'}}
            </td>
            <td data-title="'Last Modified Date'" sortable="'modified'">
              {{ cceTemperatureLog.modified | date:'yyyy-MM-dd h:mma'}}
            </td>
            <td data-title="'Created By'" sortable="'created_by'">
              {{ getUser(cceTemperatureLog.created_by) }}
            </td>
            <td data-title="'Last Modified By'">
              {{ getUser(cceTemperatureLog.modified_by) }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>