<div class="row">
  <ol class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/cce/temperature_log"> Problem Log</a></li>
    <li class="active">Add Temperature Log</li>
  </ol>
</div>

<div class="row" ng-controller="AddTemperatureLogCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add CCE Temperature Log</h4>
      </div>

      <div class="panel-body">

        <!-- used to show form submission error or success message -->
        <div class="row" id="messages" ng-show="message">
          <div class="col-sm-12">
            <span>{{ message }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <form ng-submit="save()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cce">Cold Chain Equipment</label>
                    <select id="cce" class="form-control" ng-model="temperatureLog.cce" required>
                      <option value="">-- select cold chain equipemnt --</option>
                      <option ng-repeat="cce in cceList" value="{{ cce.uuid }}">
                        {{ cce.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="cceTemperature">Temperature</label>
                    <input class="form-control" type="number" name="cceTemperature" id="cceTemperature"
                           ng-model="temperatureLog.temperature" placeholder="e.g 2, -3.1, -12, 10.3" step="any" required>
                  </div>

                  <div class="form-group">
                    <label for="tempUOM">Temperature Unit Of Measurement</label>
                    <select id="tempUOM" class="form-control" ng-model="temperatureLog.temperature_uom" required>
                      <option value="">-- select temperature unit of measurement --</option>
                      <option ng-repeat="uom in uomList" value="{{ uom.uuid }}">
                        {{ uom.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="tempLogDateTime">Date-Time Logged</label>
                    <input ng-model="temperatureLog.date_time_logged" type="datetime-local" name="tempLogDateTime"
                           id="tempLogDateTime" required/>
                  </div>

                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
