<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" translate="incomingLog"></h4>
      </div>
      <div class="panel-body">
        <div class="row" ng-include="'views/bundles/partials/sequence-map.html'"></div>
      </div>
      <div class="panel-body">
        <div class="row" ng-show="!show" ng-include="'views/bundles/partials/enter-bundle-no.html'"></div>
      </div>
      <div class="panel-body">
        <div class="row" ng-show="show" ng-include="'views/bundles/partials/log-automatically.html'"></div>
      </div>
    </div>
  </div>
</div>

