<div class="row" ng-if="!wizard">
    <div class="col-sm-12">
        <div class="panel panel-default"  ng-show="!previewForm">
            <div class="panel-heading">
                <h4 class="panel-title" ng-bind="logBundleTitle"></h4>
            </div>
            <div class="panel-body">
                <div class="row" ng-include="'views/bundles/partials/facility-info.html'"></div>
            </div>
            <form name="bundleLineForm" class="css-form" novalidate>
                <div class="panel panel-default" ng-repeat="bundleLine in bundle.bundleLines"
                     ng-include="'views/bundles/partials/bundle-line.html'">
                </div>
            </form>
            <div class="col-sm-12">
                <button type="button"
                        class="btn btn-default btn-lg btn-block"
                        ng-click="addNewLine()"
                        ng-disabled="bundleLineForm.$invalid">
                    <i class="fa fa-plus"></i>
                    <span i18n="addStockItem"></span>
                </button>
            </div>
            <br/><br/>

            <div class="col-sm-12">
                <button type="button"
                        class="btn btn-success btn-lg btn-block"
                        ng-disabled="bundleLineForm.$invalid && isSaving"
                        ng-click="preview()">
                     <span i18n="save"></span>
                     <i class="fa fa-save"></i>
                </button>
            </div>
            <br/>
        </div>

        <div class="panel-body">
            <div class="row" ng-if="previewForm" ng-include="'views/bundles/partials/preview-log-bundle.html'"></div>
        </div>
    </div>
</div>

<form novalidate name="ledgerForm" ng-if="wizard">
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default"  ng-if="!loadProductPage">
        <div class="panel-heading">
          <h4 class="panel-title" ng-bind="logBundleTitle"></h4>
        </div>
        <div class="panel-body">
          <div class="row" ng-include="'views/bundles/partials/facility-info.html'"></div>
        </div>
      </div>
      <div class="panel panel-default" ng-if="!loadProductPage">
        <button class="btn btn-block btn-lg text-center btn-success"
                ng-disabled="placeholder.selectedFacility === ''"
                ng-click="enterProducts()"> Continue </button>
      </div>
      <div ng-if="loadProductPage &&  !previewForm">
        <div ng-include="'views/bundles/partials/log-bundle-wizard.html'"></div>
      </div>

    </div>
  </div>

  <div  ng-if="previewForm">
    <div class="panel-body">
      <div class="row" ng-include="'views/bundles/partials/preview-log-bundle.html'"></div>
    </div>
  </div>
</form>