<div class="row">
  <ol class="breadcrumb">
    <li><a ui-sref="home.index.controlPanel"><i class="fa fa-home"> Home</i></a></li>
    <li><a <a ui-sref="inventoryListView"> Inventory</a></li>
    <li class="active">Add New Inventory</li>
  </ol>
</div>

<div class="row" ng-controller="addInventoryCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add New Inventory</h4>
      </div>

      <div class="panel-body">
        <form name="addInventoryLineForm" ng-submit="save()">
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label for="batch">Batch</label>
                <select id="batch" class="form-control" ng-model="inventory.batch" required>
                  <option value="">-- select batch --</option>
                  <option ng-repeat="batch in batches" value="{{ batch.uuid }}">
                    {{ batch.batch_no }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="bundleNo">Bundle No. (optional) </label>
                <input class="form-control" type="text" name="bundleNo" id="bundleNo"
                       ng-model="inventory.bundleNo" placeholder="e.g KNC-THF-01-9803" required/>
              </div>

              <div class="form-group">
                <label for="storageUnit">Storage Unit</label>
                <select id="storageUnit" class="form-control" ng-model="inventory.storage_unit" required>
                  <option value="">-- Add to storage unit --</option>
                  <option ng-repeat="storageUnit in storageUnits" value="{{ storageUnit.uuid }}">
                    {{ storageUnit.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="receiptDate">Date Received <i class="fa fa-calendar"></i></label>
                <input ng-model="inventory.date_receipt" class="form-control" type="date" name="receiptDate"
                       id="receiptDate"/>
              </div>

              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input class="form-control" type="number" name="code" id="quantity"
                       ng-model="inventory.quantity" step="any" placeholder="e.g 30, 400, 350" required/>
              </div>

              <div class="form-group">
                <label for="uom">Quantity Unit Of Measurement</label>
                <select id="uom" class="form-control" ng-model="inventory.uom" required>
                  <option value="">-- select quantity unit of measurement--</option>
                  <option ng-repeat="uom in uomList" value="{{ uom.uuid }}">
                    {{ uom.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="program">Program</label>
                <select id="program" class="form-control" ng-model="inventory.program" required>
                  <option value="">-- select program--</option>
                  <option ng-repeat="program in programs" value="{{ program.uuid }}">
                    {{ program.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="recipient">Receiving Facility</label>
                <select id="recipient" class="form-control" ng-model="inventory.receiving_facility" required>
                  <option value="">-- select recipient--</option>
                  <option ng-repeat="facility in facilities" value="{{ facility.uuid }}">
                    {{ facility.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="parentFacility">Parent Facility</label>
                <select id="parentFacility" class="form-control" ng-model="inventory.parent" required>
                  <option value="">-- select parent facility--</option>
                  <option ng-repeat="facility in facilities" value="{{ facility.uuid }}">
                    {{ facility.name }}
                  </option>
                </select>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

