<div class="row">
  <ol class="breadcrumb">
    <li><a ui-sref="home.index.controlPanel"><i class="fa fa-home"> Home</i></a></li>
    <li><a ui-sref="inventoryListView"> Inventory</a></li>
    <li class="active">Add New Inventory</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add New Inventory</h4>
      </div>

      <div class="panel-body">
        <form ng-submit="save()">
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label for="sendingFacility" ng-bind="i18n('sendingFacility')"></label>
                <select id="sendingFacility" class="form-control" ng-model="inventory.sendingFacility" required>
                  <option value="" ng-bind="i18n('selectSendingFacility')"></option>
                  <option ng-repeat="facility in facilities" value="{{ facility.uuid }}"
                          ng-bind="facility.name"></option>
                </select>
              </div>

              <div class="form-group">
                <label for="receivingFacility" ng-bind="i18n('receivingFacility')"></label>
                <select id="receivingFacility" class="form-control" ng-model="inventory.receivingFacility" required>
                  <option value="" ng-bind="i18n('selectReceivingFacility')"></option>
                  <option ng-repeat="facility in facilities" value="{{ facility.uuid }}"
                          ng-bind="facility.name"></option>
                </select>
              </div>

              <div class="form-group">
                <label for="bundleNo" ng-bind="i18n('bundleNo')"></label>
                <input class="form-control" type="text" name="bundleNo" id="bundleNo"
                       ng-model="inventory.bundleNo" placeholder="e.g KNC-THF-01-9803"/>
              </div>

              <div class="form-group">
                <label for="receiptDate" ng-bind="i18n('dateReceived')"> <i class="fa fa-calendar"></i></label>
                <input ng-model="inventory.date_receipt" class="form-control" type="date" name="receiptDate"
                       id="receiptDate"/>
              </div>

            </div>
          </div>

          <div class="row">

          </div>

          <div class="form-group">
            <div class="col-md-4 pull-left">
              <button id="authorize" name="authorize" class="btn btn-default"
                      ng-disabled="authorized" ng-bind="i18n('authorize')"
                      ng-click="authorized=true"></button>
              <button id="submit" name="submit" class="btn btn-success"
                      ng-bind="i18n('submit')" ng-disabled="!authorized"></button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

