<div class="row">
  <ol class="breadcrumb">
    <li><a ui-sref="home.index.controlPanel"><i class="fa fa-home"> Home</i></a></li>
    <li><a ui-sref="inventoryListView"> Inventory</a></li>
    <li class="active">Add New Inventory</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-16">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add New Inventory</h4>
      </div>
      <div class="panel-body">
        <form>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Order Detail</h4>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-18">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="sendingFacility" ng-bind="i18n('sendingFacility')"></label>
                          <select id="sendingFacility" class="form-control" ng-model="inventory.sendingFacility"
                                  required>
                            <option value="" ng-bind="i18n('selectSendingFacility')"></option>
                            <option ng-repeat="facility in facilities" value="{{ facility.uuid }}"
                                    ng-bind="facility.name"></option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="receivingFacility" ng-bind="i18n('receivingFacility')"></label>
                          <select id="receivingFacility" class="form-control" ng-model="inventory.receivingFacility"
                                  required>
                            <option value="" ng-bind="i18n('selectReceivingFacility')"></option>
                            <option ng-repeat="facility in facilities" value="{{ facility.uuid }}"
                                    ng-bind="facility.name"></option>
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="bundleNo" ng-bind="i18n('bundleNo')"></label>
                          <input class="form-control" type="text" name="bundleNo" id="bundleNo"
                                 ng-model="inventory.bundleNo" placeholder="e.g KNC-THF-01-9803"/>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="receiptDate" ng-bind="i18n('dateReceived')"> <i
                                  class="fa fa-calendar"></i></label>
                          <input ng-model="inventory.date_receipt" class="form-control" type="date" name="receiptDate"
                                 id="receiptDate"/>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">New Inventory Detail</h4>
                </div>

                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-18">
                      <div class="col-sm-12">

                        <table class="table table-condensed table-hover table-bordered">
                          <tr>
                            <thead>
                            <th>#</th>
                            <th class="text-titlecase" ng-bind="i18n('productTypes')"></th>
                            <th class="text-titlecase" ng-bind="i18n('batchNo')"></th>
                            <th class="text-titlecase" ng-bind="i18n('program')"></th>
                            <th class="text-titlecase" ng-bind="i18n('quantity')"></th>
                            <th class="text-titlecase" ng-bind="i18n('uom')"></th>
                            <th ng-bind="i18n('storageUnit')"></th>
                            </thead>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>
                              <select ng-model="productType" class="form-control" ng-change="loadProductTypeBatches(productType)">
                                <option value="" ng-bind="i18n('selectProductType')"></option>
                                <option ng-repeat="productType in productTypes" value="{{ productType.uuid }}"
                                        ng-bind="productType.name">
                                </option>
                              </select>
                            </td>
                            <td>
                              <select ng-model="selectedBatch" class="form-control" ng-change="updateBatchNo(selectedBatch)"
                                      ng-disabled="isDisabled">
                                <option value="" ng-bind="i18n('selectBatch')"></option>
                                <option ng-repeat="batch in productTypeBatches" value="{{ batch.uuid }}" ng-bind="batch.batch_no">
                                </option>
                              </select>
                              <br/>
                              <input class="form-control" type="text" name="batchNo" ng-model="batchNo"/>
                            </td>
                            <td>
                              <select ng-model="program" class="form-control">
                                <option value="" ng-bind="i18n('selectProgram')"></option>
                                <option ng-repeat="program in programs" value="{{ program.uuid }}"
                                        ng-bind="program.name"></option>
                              </select>
                            </td>
                            <td>
                              <input class="form-control" type="number" min="0" step="any" name="batchNo"
                                     ng-model="quantity"/>
                            </td>
                            <td>
                              <select class="form-control" ng-model="uom">
                                <option value="" ng-bind="i18n('selectUOM')"></option>
                                <option ng-repeat="uom in uomList" value="{{ uom.uuid }}" ng-bind="uom.name"></option>
                              </select>
                            </td>
                            <td>
                              <select class="form-control" ng-model="logIncomingForm.storage_units[bundleLine.uuid]">
                                <option value="">-- Add to Storage Unit --</option>
                                <option ng-repeat="storageUnit in receivingFacilityStorageUnits"
                                        value="{{ storageUnit.uuid }}">
                                  {{ storageUnit.name }}
                                </option>
                              </select>
                            </td>
                          </tr>
                        </table>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-4 pull-left">
                <button type="button" name="addInventoryLine" class="btn btn-default" ng-click="addInventoryLine()">
                  <span><i class="fa fa-plus"></i></span>
                  <span>Add inventory line</span>
                </button>
              </div>

              <div class="col-md-4 pull-right">
                <button id="authorize" name="authorize" class="btn btn-default"
                        ng-disabled="authorized" ng-bind="i18n('authorize')"
                        ng-click="authorized=true"></button>
                <button id="submit" name="submit" class="btn btn-success"
                        ng-bind="i18n('submit')" ng-disabled="!authorized"></button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>