<div ng-controller="logIncomingBundleCtrl">
<div class="row">
  <ol class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/inventory/index"> Inventory</a></li>
    <li class="active">Add Purchase Order</li>
  </ol>
</div>
<div class="row">
  <div class="col-sm-18">

    <div class="col-sm-4">
      <label for="bundleNo">Bundle Number</label>
      <input class="form-control" type="text" name="bundleNo" id="bundleNo" ng-model="showBundleNo"
              placeholder="scan or type bundle number"/>
    </div>

    <div class="col-sm-4">
      <label for="loadBundle">&nbsp;</label>
      <button type="submit" ng-click="showBundle()" id="loadBundle" name="loadBundle"
              class="btn btn-success btn-lg btn-block">Show Bundle</button>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add Incoming Bundle</h4>
      </div>

      <div class="panel-body"> <!-- ng-show="{{ showBundleNo !== '' }}" -->

        <div class="row">
          <div class="col-sm-18">
            <div class="col-sm-6">
              <label for="receivingFacility">Receiving Facility</label>
              <input class="form-control" ng-disabled="true" type="text" name="receivingFacility"
                     id="receivingFacility"/>
            </div>

            <div class="col-sm-6">
              <label for="parentFacility">Parent Facility</label>
              <input class="form-control" ng-disabled="true" type="text" name="parentFacility" id="parentFacility"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-18">
            <div class="col-sm-6">
              <label for="bundleNumber">Bundle No.</label>
              <input ng-model="bundleNo" class="form-control" ng-disabled="true" type="text" name="bundleNumber" id="bundleNumber"/>
            </div>

            <div class="col-sm-6">
              <label for="orderNo">Order No.</label>
              <input class="form-control" ng-disabled="true" type="text" name="orderNo" id="orderNo"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-18">
            <div class="col-sm-6">
              <label for="user">User</label>
              <input class="form-control" ng-disabled="true" type="text" name="user" id="user"/>
            </div>

            <div class="col-sm-6">
              <label for="date">Date</label>
              <input class="form-control" type="date" name="date" id="date"/>
            </div>
          </div>
        </div>

        <div class="row col-sm-16">

            <table class="table table-condensed table-hover table-bordered">
              <tr>
                <thead>
                  <th>Batch No.</th>
                  <th>Product Type</th>
                  <th>Program</th>
                  <th>Quantity</th>
                  <th>Verify</th>
                  <th>CCU</th>
                </thead>
              </tr>
              <tr>
                <td>12345</td>
                <td>BCG Vaccine</td>
                <td>SIAs</td>
                <td>12345</td>
                <td><input type="number" min="0" step="1"/></td>
                <td>
                  <select>
                    <option>Add to CCU</option>
                    <option value="1">Cold Store One</option>
                    <option value="2">Cold Store Two</option>
                  </select>
                </td>
              </tr>

               <tr>
                <td>12345</td>
                <td>BCG Vaccine</td>
                <td>SIAs</td>
                <td>12345</td>
                <td><input type="number" min="0" step="1"/></td>
                <td>
                  <select>
                    <option>Add to CCU</option>
                    <option value="1">Cold Store One</option>
                    <option value="2">Cold Store Two</option>
                  </select>
                </td>
              </tr>

            </table>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <input type="button" class="btn btn-success btn-lg btn-block" value="Authorize"/>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success btn-lg btn-block">Save and Exit</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</div>