<div class="row">
  <ol class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/inventory/index"> Inventory</a></li>
    <li class="active">Add New Inventory</li>
  </ol>
</div>

<div class="row" ng-controller="addInventoryCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add New Inventory</h4>
      </div>

      <div class="panel-body">
        <form name="addInventoryLineForm" ng-submit="save()">
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group">
                <label for="productItem">Product Item</label>
                <select id="productItem" class="form-control" ng-model="inventory.product_item" required>
                  <option value="">-- select product item--</option>
                  <option ng-repeat="productItem in productItems" value="{{ productItem.uuid }}">
                    {{ productItem.batch_no }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="cceLocation">CCE Location</label>
                <select id="cceLocation" class="form-control" ng-model="inventory.storage_location" required>
                  <option value="">-- select CCE --</option>
                  <option ng-repeat="cce in cceList" value="{{ cce.uuid }}">
                    {{ cce.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="receiptDate">Date Received</label>
                <input ng-model="inventory.date_receipt" class="form-control" type="date" name="receiptDate"
                       id="receiptDate"/>
              </div>

              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input class="form-control" type="number" name="code" id="quantity"
                       ng-model="inventory.quantity" step="any" placeholder="e.g 30, 400, 350" required/>
              </div>

              <div class="form-group">
                <label for="uom">Quantity Unit Of Measurement</label>
                <select id="uom" class="form-control" ng-model="inventory.uom" required>
                  <option value="">-- select quantity unit of measurement--</option>
                  <option ng-repeat="uom in uomList" value="{{ uom.uuid }}">
                    {{ uom.name }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="entryType">Stock Entry Type</label>
                <select id="entryType" class="form-control" ng-model="inventory.entry_type" required>
                  <option value="">-- select stock  entry type--</option>
                  <option value="0">Return</option>
                  <option value="1">New Arrival</option>
                  <option value="1">Excess Recorded From Physical Stock Count</option>
                  <option value="2">Balance From Previous Month</option>
                </select>
              </div>

              <div class="form-group">
                <label for="vvmStage">VVM Stage at Arrival</label>
                <select id="vvmStage" class="form-control" ng-model="inventory.vvmStage" required>
                  <option value="">-- select stock  entry type--</option>
                  <option value="STAGE 1">Stage 1</option>
                  <option value="STAGE 2">Stage 2</option>
                  <option value="STAGE 3">Stage 3</option>
                  <option value="STAGE 4">Stage 4</option>
                </select>
              </div>

              <div class="form-group">
                <label for="reason">Reason For Returned Entry Type</label>
                <select id="reason" class="form-control" ng-model="inventory.return_reason" required>
                  <option value="">-- select reason for return--</option>
                  <option value="Not Applicable">Not Applicable</option>
                  <option value="Expired">Expired</option>
                  <option value="Lack Of Storage Space">Lack Of Storage Space</option>
                  <option value="Excess Recorded From Physical Stock Count">Excess Recorded From Physical Stock Count</option>
                  <option value="Broken">Broken</option>
                  <option value="Recalled and Return To Manufacturer">Recalled and Return To Manufacturer</option>
                </select>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

