<div class="row">
  <ol class="breadcrumb">
    <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
    <li><a href="#/inventory/index"> Inventory</a></li>
    <li class="active">Add Purchase Order</li>
  </ol>
</div>

<div class="row" ng-controller="AddInventoryCtrl">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Add Purchase Order To Inventory</h4>
      </div>

      <div class="panel-body">

        <div class="row">

        </div>

        <div class="row">
          <div class="col-sm-18">

            <div class="col-sm-4">
              <label for="order">Scan Order Barcode</label>
              <input class="form-control" type="text" name="selectedOrder" id="order"/>
            </div>

            <div class="col-sm-4">
               <label for="order">&nbsp;</label>
              <button type="submit" class="btn btn-success btn-lg btn-block">Find Order</button>
            </div>

        </div>

      </div>
    </div>

  </div>
</div>

</div>
