<div ng-controller="StockRecordsCtrlForm">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
            <li><a href="#/inventory/index/">Inventory</a></li>
            <li><a href="#/inventory/stock_records?facility={{ facility_uuid }}&report_year={{ report_year }}&report_month={{ report_month }}">Stock Record</a></li>
            <li class="active">Add Stock Record</li>
        </ul>
    </div>

    <div class="row" >
        <div class="col-sm-12">
            <form novalidate="novalidate" ng-submit="save_record()">
                <div class="row">
                    <div class="col-sm-12">
                        <div ng-show="stock_records.program" class="form-group" ng-repeat="item in programProductList | filter:{program: stock_records.program}">
                            <div class="row">
                                <div class="col-sm-12">{{ products_object[item.product].code }}</div>
                            </div>
                            <div>
                                <div></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    Receved :<input class="form-control" ng-model="stock_records.received[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Used :<input class="form-control" ng-model="stock_records.used[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Balance :<input class="form-control" ng-model="stock_records.balance[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Discarded
                                </div>
                                <div class="col-sm-1">
                                    Expiry :<input class="form-control" ng-model="stock_records.expiry[item.product]">
                                </div>
                                <div class="col-sm-2">
                                    VVM Change :<input class="form-control" ng-model="stock_records.vvm[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Breakage:<input class="form-control" ng-model="stock_records.breakage[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Frozen :<input class="form-control" ng-model="stock_records.frozen[item.product]">
                                </div>
                                <div class="col-sm-2">
                                    Label Removed :<input class="form-control" ng-model="stock_records.label_removed[item.product]">
                                </div>
                                <div class="col-sm-1">
                                    Others :<input class="form-control" ng-model="stock_records.others[item.product]">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button class="btn btn-default">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>