<div ng-controller="StockRecordsCtrl">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
            <li><a href="#/inventory/index/">Inventory</a></li>
            <li class="active">Stock Records</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!--h3 class="center-text">NATIONAL PRIMARY HEALTH CARE DEVELOPMENT AGENCY</h3-->
            <strong class="center-text center-block">MONTHLY HEALTH FACILITY VACCINES UTILIZATION REPORTING</strong>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <form class="form-inline form-horizontal">

                            <label class="inline-label" for="facility">Health Facility:</label>
                            <select name="facility" id="facility"  ng-model="user_related_facility" class="form-control" >
                                <option value="">-- select facility --</option>
                                <option ng-selected="{{ facility.uuid == user_related_facility }}" ng-repeat="facility in user_related_facilities" value="{{ facility.uuid }}">{{ facility.name }}</option>
                            </select>

                    </form>
                </div>
                <div class="col-sm-2">
                    Ward: {{ ward }}
                </div>
                <div class="col-sm-2">
                    LGA: {{ lga }}
                </div>
                <div class="col-sm-2">
                    State: {{ state }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Monthly Target Population: {{ monthly_stock_record_object[record_key].target_population }}
                </div>
                <div class="col-sm-3 col-sm-offset-3">
                    <form class="form-inline">
                       <div class="form-group">
                           <label class="sr-only" for="report_month">Month</label>
                           <select placeholder="Month" id="report_month" ng-model="report_month" class="form-control" >
                               <option value="">Month</option>
                               <option value="1">January</option>
                               <option value="2">February</option>
                               <option value="3">March</option>
                               <option value="4">April</option>
                               <option value="5">May</option>
                               <option value="6">June</option>
                               <option value="7">July</option>
                               <option value="8">August</option>
                               <option value="9">September</option>
                               <option value="10">October</option>
                               <option value="11">November</option>
                               <option value="12">December</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label class="sr-only" for="report_year">Year</label>
                           <select ng-init="report_year = 2014" id="report_year" ng-model="report_year" class="form-control">
                               <option value="">Year</option>
                               <option value="2011">2011</option>
                               <option value="2012">2012</option>
                               <option value="2013">2013</option>
                               <option value="2014">2014</option>
                               <option value="2015">2015</option>
                               <option value="2016">2016</option>
                               <option value="2017">2017</option>
                               <option value="2018">2018</option>
                               <option value="2019">2019</option>
                               <option value="2020">2020</option>
                           </select>
                       </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a ng-show="add_button" href="#/inventory/stock_records_form" ng-disabled="true"  class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Record</a>
            <a ng-hide="add_button" href="#/inventory/stock_records_form?facility={{ user_related_facility }}&report_year={{ report_year }}&report_month={{ report_month }}" ng-disabled="false"  class="btn btn-default"><i class="fa fa-plus-circle"></i> Add Record</a>
        </div>
        <div class="col-sm-6">
            BBF : Balance brought forward from previous month
        </div>
    </div>
    <div class="row" ng-hide="add_button">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"></h4>
                </div>
                <div class="scrollable-container">
                    <table class="table table-bordered oversize-table" id="vm1-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3" ng-repeat="row in stock_products">{{ row }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="max-stock">Max</td>
                                <td colspan="3" ng-repeat="row in stock_products">{{ monthly_stock_record_object[record_key].max_records[$index] }}</td>

                            </tr>
                            <tr id="min-stock">
                                <td>Min</td>
                                <td colspan="3" ng-repeat="row in stock_products">
                                    {{ monthly_stock_record_object[record_key].min_record[$index] }}
                                </td>
                            </tr>
                            <tr class="top-rows" ng-bind-html="table_column">
                            </tr>
                            <tr class="top-rows" ng-bind-html="brought_forward_columns(monthly_stock_record_object[record_key], stock_products)">

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="add_button">
        <div class="col-sm-12 text-center">
            <h3 class="label label-default">
                <span >Select Facility and Month to show Stock Report</span>
            </h3>
        </div>
    </div>

</div>