<div class="row">
    <div class="col-sm-12">
        <form novalidate="novalidate" ng-submit="save_record()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <!-- TODO: this should be based on logged in user -->
                        <label for="facility">Facility</label>
                        <select name="facility" id="facility"  class="form-control" ng-model="stock_records.facility" >
                            <option value="">-- choose facility --</option>
                            <option ng-repeat="facility in facilities" value="{{ facility.uuid }}">{{ facility.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="programs"></label>
                        <select name="program" id="programs" ng-model="programs">
                            <option value=""></option>
                        </select>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--pre>
    {{ programs | json }}
</pre-->