<div class="row">
    <div class="col-sm-12">
        <h3 class="center-text">NATIONAL PRIMARY HEALTH CARE DEVELOPMENT AGENCY</h3>
        <strong class="center-text center-block">MONTHLY HEALTH FACILITY VACCINES UTILIZATION REPORTING</strong>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                Name of Health Facility: Giginyu BHC
            </div>
            <div class="col-sm-3">
                Name of Ward: Giginyu
            </div>
            <div class="col-sm-3">
                Name of LGA: Nassarawa
            </div>
            <div class="col-sm-3">
                Name of State: Kano
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Monthly Target Population:
            </div>
            <div class="col-sm-3 col-sm-offset-3">
                <p class="input-group">
                    <input disabled id="expected_date" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="stock_record_date" is-open="opened" min="minDate" max="'2023-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="btn-group">
        <button type="button" class="btn btn-default"><i class="icon-plus-sign"></i> Add Record</button>
        <button type="button" class="btn btn-default">Delete</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
</div>