<div class="row">
    <ul class="breadcrumb">
        <li><a href="#/main/"><i class="fa fa-home"> Home</i></a></li>
        <li><a href="#/inventory/index/">Inventory</a></li>
        <li><a href="#/inventory/stock_records/">Stock Record</a></li>
        <li class="active">Add Stock Record</li>
    </ul>
</div>

<div class="row" ng-controller="StockRecordsCtrlForm">
    <div class="col-sm-12">
        <form novalidate="novalidate" ng-submit="save_record()">
            <div class="row">

                <!-- start first column-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="facility">Facility</label>
                        <select name="facility" id="facility"  class="form-control" ng-model="stock_records.facility" >
                            <option value="">-- select facility --</option>
                            <option ng-repeat="facility in facilities" value="{{ facility.uuid }}">{{ facility.name }}</option>
                        </select>
                    </div>
                </div>

                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="facility">Program</label>
                        <select name="program" id="program"  class="form-control" ng-model="stock_records.program" >
                            <option value="">-- select program --</option>
                            <option ng-repeat="program in programs" value="{{ program.uuid }}">{{ program.name }}</option>
                        </select>
                    </div>
                 </div>

                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="stockRecordDate">Stock Record Date
                        <i class="fa fa-calendar"></i></label>
                        <input id="stockRecordDate" type="date" class="form-control" ng-required="true"
                                                ng-model="stock_records.stock_record_date"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-show="stock_records.program" class="form-group" ng-repeat="item in programProductList | filter:{program: stock_records.program}">
                        <div class="col-sm-12">{{ products_object[item.product].name }}</div>
                        <div class="row">
                            <div class="col-sm-1">
                                Receved :<input class="form-control" ng-model="stock_records.received[item.product]">
                            </div>
                            <div class="col-sm-1">
                                Used :<input class="form-control" ng-model="stock_records.used[item.product]">
                            </div>
                            <div class="col-sm-1">
                                Balance :<input class="form-control" ng-model="stock_records.balance[item.product]">
                            </div>
                             <div class="col-sm-1">
                                Discarded
                            </div>
                            <div class="col-sm-1">
                                Expiry :<input class="form-control" ng-model="stock_records.expiry[item.product]">
                            </div>
                            <div class="col-sm-2">
                                VVM Change :<input class="form-control" ng-model="stock_records.vvm[item.product]">
                            </div>
                            <div class="col-sm-1">
                                Breakage :<input class="form-control" ng-model="stock_records.breakage[item.product]">
                            </div>
                            <div class="col-sm-1">
                                Frozen :<input class="form-control" ng-model="stock_records.frozen[item.product]">
                            </div>
                            <div class="col-sm-2">
                                Label Removed :<input class="form-control" ng-model="stock_records.label_removed[item.product]">
                            </div>
                            <div class="col-sm-1">
                                Others :<input class="form-control" ng-model="stock_records.others[item.product]">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="col-sm-4">
                    <div class="form-group">
                        <!-- TODO: this should be tied to logged in user
                        <label for="facility">Facility</label>
                        <select name="facility" id="facility"  class="form-control" ng-model="stock_records.facility" >
                            <option value="">-- choose facility --</option>
                            <option ng-repeat="facility in facilities" value="{{ facility.uuid }}">{{ facility.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!-- TODO: this should be tied to logged in user and selected facility
                        <label for="program"></label>
                        <select ng-change="loadProducts()" name="program" id="program" ng-model="stock_records.program" class="form-control">
                            <option value="">-- choose program --</option>
                            <option ng-repeat="program in programs" value="{{ program.uuid }}">{{ program.name }}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-repeat="item in program_products">
                        <div class="col-sm-2">{{ item.name }}</div>
                        <div class="col-sm-2">
                            <input name="products_item[]" ng-model="products_item[]" class="form-control">
                        </div>

                    </div>
                </div>
                -->

        </form>
    </div>
</div>