<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Title</h4>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quas obcaecati
                dolorem cum. Ad perferendis nisi exercitationem necessitatibus minus nobis
                commodi nam magni fugiat repudiandae cupiditate asperiores esse perspiciatis.
                Cupiditate.<strong>{{ online }}</strong>
            </div>
        </div>
    </div>
</div>